@charset "utf-8"; 

body { background: #dcdcdc;}

.wrapKR {position: relative;width: 100%;height: 100%;margin: 0 auto;min-width: 750px;}

/* skip navi */
#skip { max-width: 1240px; margin: 0 auto; position: relative; }
#skip .accessibility { position: absolute; z-index: 999; }
#skip .accessibility li {}
#skip .accessibility a { float: left; height: 1px; width: 100%; margin-bottom: -1px; overflow: hidden; text-align: center; white-space: nowrap; font-size: 11px; }
#skip .accessibility a: focus, #skip .accessibility a: active { top: 10px; height: auto; width: 1400px; padding: 10px 0; margin: 0 auto; font-weight: bold; background: #000; color: #fff; }

/* HEADER */
.headerKR { width: 100%;}
.headerKR .gnbLink { width: 100%; background: #0c70be; }
.headerKR .gnbLink h1.logo { position: absolute; left: 5px; top: -2px; display: inline-block; z-index: 99; }
.headerKR .gnbLink h1.logo img {width:85px}
.headerKR .gnbLink .toplink { position: absolute; right: 20px; top: 8px; z-index: 99;  font-size: 13px; color: #fff; }
.headerKR .gnbLink .toplink .icoEng { background: url('../images/Top/icoEng.png') no-repeat left; padding:2px 15px 2px 25px; border-right: 1px solid #7fb1d8; font-size: 12px; font-weight: bold; height:24px; color:#fff; }
.headerKR .gnbLink .toplink .logTxt { margin:0 15px; line-height: 25px; font-size:11px }
.headerKR .gnbLink .toplink a.logOut { display: inline-block; font-size: 11px; font-weight: bold; padding: 0 15px 0 35px; height: 24px; line-height: 24px; background:#074372 url('../images/Top/logOut.png') no-repeat 10px center; color:#fff; border-radius: 24px; }

.headerKR .gnbLink ul{ text-align: center; display: table; table-layout: fixed; margin: 0 auto;}
.headerKR .gnbLink ul > li { display: table-cell; line-height: 38px; padding: 0 30px}
.headerKR .gnbLink ul > li > a { position: relative; display: block; text-align: center; font-size: 15px; font-weight: 500; color: #fff; font-family: 'Noto Sans KR', sans-serif; }
.headerKR .gnbLink ul > li > a:hover { color: #b1ecfd; }
.headerKR .gnbLink ul > li.click > a{ color: #b1ecfd; }

.headerKR .gnbLinkAll { width: 100%; background: #0c70be; height:40px}
.headerKR .gnbLinkAll h1.logo { position: absolute; left: 5px; top: -2px; display: inline-block; z-index: 99; }
.headerKR .gnbLinkAll h1.logo img { width: 85px}
.headerKR .gnbLinkAll .toplink { position: absolute; right: 20px; top: 8px; z-index: 99;  font-size: 13px; color: #fff; }
.headerKR .gnbLinkAll .toplink .icoEng { background: url('../images/Top/icoEng.png') no-repeat left; padding: 2px 15px 2px 25px; border-right: 1px solid #7fb1d8; font-size: 12px; font-weight: bold; height: 24px; color: #fff; }
.headerKR .gnbLinkAll .toplink .logTxt { margin: 0 15px; line-height: 25px; font-size: 11px }
.headerKR .gnbLinkAll .toplink a.logOut { display: inline-block; font-size: 11px; font-weight: bold; padding: 0 15px 0 35px; height: 24px; line-height: 24px; background: #074372 url('../images/Top/logOut.png') no-repeat 10px center; color: #fff; border-radius: 24px; }

.headerKR .gnbLinkAll .allMenu li{ float: left; }
.headerKR .gnbLinkAll .allMenu { padding: 0; margin: 0 0 0 200px; }
.headerKR .gnbLinkAll .allMenu .menu_bg{ position: absolute; display: none; left: 0; top: 40px; z-index: 1; width: 100%; height: 157px; background-color: #f5f5f5; border-bottom: solid 1px #e0e0e0; border-top: solid 1px #e0e0e0; }
.headerKR .gnbLinkAll .allMenu .menu_bg.active{ display: block; }
.headerKR .gnbLinkAll .allMenu .menu_group{ position: relative; z-index: 10; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep > a{ font-family: 'Noto Sans KR', sans-serif; font-size: 15px; font-weight: 500; display: block; position: relative; width: 160px; height: 40px; line-height: 40px; text-align: center; color: #fff; transition: color 0.3s ease; -webkit-transition: color 0.3s ease; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep > a:hover{ color: #b1ecfd; }
.headerKR .gnbLinkAll .allMenu .menu_group ul{ padding: 3px 0; height: 156px; border-left: solid 1px #e0e0e0; border-top: solid 1px #fff; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep ul.menu_2dep{ display: none; position: absolute; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep ul.menu_2dep.on{ display: block; }

.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:hover ul.menu_2dep.on{ background:#fff; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:hover a{ color:#b1ecfd; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:hover ul.menu_2dep.on a{ color:#333; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:hover ul.menu_2dep.on a:hover{ color:#fff; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:hover ul.menu_2dep.on a:focus{ color:#fff; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:hover ul.menu_2dep.on a:active{ color:#fff; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep > a.click{ color: #b1ecfd; }

.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:last-child ul{ border-right: solid 1px #e0e0e0; }
.headerKR .gnbLinkAll .allMenu .menu_group .menu_1dep:last-child ul>li{ width: 158px; }
.headerKR .gnbLinkAll .allMenu .menu_group ul>li{ clear: both; width: 159px; text-align: center; }
.headerKR .gnbLinkAll .allMenu .menu_group ul>li a{ font-family: 'Noto Sans KR', sans-serif; display: block; width: 159px; height: 25px; line-height: 25px; font-size: 12px; color: #333; }
.headerKR .gnbLinkAll .allMenu .menu_group ul>li a:hover,
.headerKR .gnbLinkAll .allMenu .menu_group ul>li a:focus,
.headerKR .gnbLinkAll .allMenu .menu_group ul>li a.active{ color: #fff; background-color: #0c70be; }

.headerKR .gnbLinkAll:after { content: ""; display: block; clear: both; visibility: hidden; }
.R5_mnav, .mnav_btn{ display: none; font-size: 0; }

.headerKR .gnbTop { width: 100%; background: #005099;}
.headerKR .gnbTop ul{ text-align: center; display: table; table-layout: fixed; }
.headerKR .gnbTop ul > li { display: table-cell; padding: 0; width: 102px; text-align: center;}
.headerKR .gnbTop ul > li > a { position: relative; display: block; font-size: 14px; line-height: 30px; font-weight: 500; color: #fff; margin: 6px 2px 0 0px; }
.headerKR .gnbTop ul > li > a:hover { color: #000; background: #dedede; line-height: 30px; }
.headerKR .gnbTop ul > li.click > a { color: #000; background: #dedede; }

.headerKR .gnbSub { width: 100%; background: #dedede; border-bottom: 1px solid #bfbfbf; }
.headerKR .gnbSub ul{ text-align: center; display: table; table-layout: fixed; }
.headerKR .gnbSub ul > li { display: table-cell;  text-align: center; border-right: 1px solid #bfbfbf; padding:2px; }
.headerKR .gnbSub ul > li > a { position: relative; display: block; font-size: 12px; line-height: 15px; color: #333; text-align: center;  width: 70px; height: 75px; word-break: break-word; }
.headerKR .gnbSub ul > li.WMenu { vertical-align: middle; }
.headerKR .gnbSub ul > li.WMenu > a { font-size: 12px; line-height: 25px; color: #333; text-align: left;  width: 130px; height: 25px; word-break: break-word; padding:0 0 0 10px; }

.headerKR .gnbSub ul > li > a:hover { color: #333; background: #bfe0ff;}
.headerKR .gnbSub ul > li.click > a { color: #000; }
.headerKR .gnbSub ul > li > ul > li { border-right: none; }
.headerKR .gnbSub ul > li img { display: block; margin: 0 auto;  padding:5px 0; vertical-align: middle; text-align: center; }

.headerKR .gnbSub ul > li .sTit { font-size: 13px; line-height: 18px; font-weight: bold; color: #919191 }

.headerKR .gnbATop { width: 100%; background: #005099;}
.headerKR .gnbATop ul{ text-align: center; display: table; table-layout: fixed; }
.headerKR .gnbATop ul > li { display: table-cell; padding: 0 0; width: 150px; text-align: center;}
.headerKR .gnbATop ul > li > a { position: relative; display: block; font-size: 14px; line-height: 30px; font-weight: 500; color: #fff; margin: 6px 2px 0 0px; }
.headerKR .gnbATop ul > li > a:hover { color: #000; background: #dedede; line-height: 30px; }
.headerKR .gnbATop ul > li.click > a { color: #000; background: #dedede; }

.headerKR .gnbASub { width: 100%; background: #dedede; border-bottom: 1px solid #bfbfbf; }
.headerKR .gnbASub ul{ text-align: center; display: table; table-layout: fixed; }
.headerKR .gnbASub ul > li { display: table-cell;  text-align: center; border-right: 1px solid #bfbfbf; padding:2px; }
.headerKR .gnbASub ul > li > a {position: relative;display: block;font-size: 12px;line-height: 15px;color: #333;text-align: center;width: 100px;height: 60px;word-break: break-word;}
.headerKR .gnbASub ul > li > a:hover { color: #333; background: #bfe0ff;}
.headerKR .gnbASub ul > li.click > a { color: #000; }
.headerKR .gnbASub ul > li > ul > li { border-right: none; }
.headerKR .gnbASub ul > li img { display: block; margin: 0 auto;  padding:5px 0; vertical-align: middle; text-align: center; }
.headerKR .gnbASub ul > li .sTit { font-size: 13px; line-height: 18px; font-weight: bold; color: #919191 }



/* FOOTER */
.footerKR { clear: both; background: #2F2F2F; margin-top: 5px; text-align: center; color: #ddd; font-size: 12px; line-height: 30px;}

/* CONTAINER */
.containerKR { width: 100%; position: relative; margin: 0 auto; }
.contentKR { margin: 0 auto; padding: 5px; z-index: 9999; font-size: 13px; }
.contentKR:after { content: ""; display: block; clear: both; visibility: hidden; }

.leftContKR {width: 240px;margin: 0 auto;position: absolute;left: 5px;}
.rightContKR { float: right; position: relative; width: calc(100% - 245px); padding: 0; margin: 0 auto;}

.proCloseKR {position: absolute; right: 2px;  top:0;   z-index: 99;}

.proOpenKR {position: absolute; left: -6px; z-index: 99; background: #f2f2f2; border: 1px solid #d8d8d8; }

/* 타이틀 TITLE */
.titH2 {position: relative; display: block; font-weight: bold; vertical-align: middle;}
.titH3 {position: relative;margin: 0;display: block; font-weight: bold;vertical-align: middle; line-height:24px}
.titH3 .btn_r {float:right; margin-bottom:10px;}
.listTit { font-size: 14px; font-weight: bold; padding-left:5px;}

.contTit { font-size: 2.25em; font-weight: bold; }
.contTxt { font-size: 1.25em; color: #333; }
.subTit { font-size: 1.5em; font-weight: bold;  }
.subTxt { font-size: 1em; color: #707070; }

h3.titKR { display: inline-block; font-size: 13px; font-weight: bold; padding: 0 50px 0 10px; line-height:30px; background: #f2f2f2; color: #333333; border: 1px solid #d8d8d8; }
h3.stitKR { display: block; font-size: 12px; padding: 0 10px; line-height:24px; background: #57637d; color: #fff; text-align: center; }
h3.stit2KR { display: block; font-size: 12px; padding: 0 10px; line-height:22px; background: #bbbaba; color: #505050; text-align: center; }
h3.stit3KR { display: block; font-size: 12px; padding: 0 10px; line-height:22px; background: #dedede; color: #505050; text-align: center; }


.mtop_1 { margin-top: -1px; }
.mbtm_1 { margin-bottom: -1px; }
.boxKR {position: relative;background: #f2f2f2;border: 1px solid #d2d2d2;padding: 5px;}
.PboxKR { position: relative; background: #fff; border: 1px solid #b3b3b3; padding: 5px; }

/* schboxKR */
.schboxKR { padding: 5px 0; position: relative; width:100%;}
.schboxKR strong { padding: 3px 15px 3px 15px; font-weight: normal; font-size:12px;}
.schboxKR span { font-size:12px; }
.schboxKR strong:first-child { padding-left:5px; }
.schboxKR input { border: 1px solid #b8b8b8; height:24px; vertical-align: middle; padding: 0 2px; font-size:13px;}
.schboxKR select {border: 1px solid #b8b8b8;height:24px;vertical-align: middle;padding: 0 2px;font-size:13px;}
.udc_cal select {border: 1px solid #fff;vertical-align: middle;padding: 0 10px;font-size:16px;font-weight:bold;-webkit-appearance:none;-moz-appearance:none;appearance:none;width: 70px;text-align: center;}

.schboxKR .descBox {position: absolute; right: 5px; top: 5px;}
.schboxKR .descBox .tboxKR { border: 1px solid #b6b6b6; background: #fff; height: 95px; padding: 5px 5px 0; }
.schbox2KR {font-size:12px;}
.schbox2KR strong { float:left; font-weight: normal; line-height:24px;}
.schboxKR:after { content: ""; display: block; clear: both; visibility: hidden; }

/* Btn_KR */
.btnKR {display: inline-block; padding: 0 5px; border: 1px solid #b8b8b8; vertical-align: middle;  text-align:center; height: 24px; line-height:24px; color:#000; background:#fff; font-size:12px;}
.btnKR img { vertical-align: top; padding-top:3px }
.btnKR:hover { background: #bfe0ff;}
.btnKR span {font-size:12px;}
.btnSearch_KR {display: inline-block; padding:0 10px;height: 24px;background: #fff;border: 1px solid #b8b8b8;vertical-align: middle;color: #333; line-height:24px; font-size:12px;/* font-weight:bold; */}
.btnLoginKR {display: inline-block;  border: 1px solid #0360C5;  background: #0360C5; vertical-align: middle;  text-align:center; height: 50px; line-height:50px; color:#fff; font-size:16px;}
.btnLoginKR:hover { background: #fff;  color:#0360C5;  }

.btnKR.Down {padding: 0 25px 0px 5px; background: #fff url('../images/Btn/btndownload.png') no-repeat 95%; }
.btnKR.Down:hover { background: #bfe0ff url('../images/Btn/btndownload.png') no-repeat 95%;}

/* 2022-09-07 kyg 추가 */
.btn_detail button{border:1px solid #cacaca;  background:#f2f2f2; font-size: 12px; padding: 2px 0; background: linear-gradient( to top, #f5f5f5, #ffffff );}
.btn_detail button:hover{background: linear-gradient( to top, #bfe0ff, #ddeefd );}

/* cscboxKR */
.cscboxKR { margin-top: 5px; }
.cscboxKR:after { content: ""; display: block; clear: both; visibility: hidden; }
.leftCSC { float: left; width: 252px; }
.rightCSC { float: right; width: calc(100% - 256px); }
.graphboxKR { background: #fff; border: 1px solid #b3b3b3; padding: 5px; text-align: center; }

ul.btnbox { text-align: center; display: table; table-layout: fixed; margin:2px auto; width: 100%; }
ul.btnbox > li { display: table-cell; text-align: center; }
ul.btnbox > li:nth-child(even) { padding: 0 2px; }
ul.btnbox > li a { margin:0 auto; }

ul.GroupboxKR { text-align: center; display: table; table-layout: fixed; margin:5px auto; width: 100%; }
ul.GroupboxKR > li { display: table-cell; text-align: center; }
ul.GroupboxKR > li:nth-child(even) { padding: 0 5px; }
ul.GroupboxKR > li a { margin:0 auto; }

.tb_KR {width: 100%;margin: 5px auto 0;border-collapse: collapse;border-spacing: 0;}
.tb_KR th {  text-align: center; background: #f2f2f2; font-weight: 500; border: 1px solid #b3b3b3; font-size: 13px; }
.tb_KR td {  font-size: 12px; background: #fff; border: 1px solid #b3b3b3; text-align: center; }
.tb_KR td.btN { border-bottom: 1px solid #fff; }

.logboxKR {border-bottom: 1px solid #a9a8a8;}
.logboxKR .boxKR span {line-height:18px; font-size:12px; padding: 0 5px}
.boxgroupKR { margin-top: 5px;  width:100%;}
.boxgroupKR:after { content: ""; display: block; clear: both; visibility: hidden; }

.groupKR { float: left; margin-right:4px; }
.groupKR input { border: 1px solid #b8b8b8; height:24px; vertical-align: middle; padding: 0 2px; font-size:13px;}
.groupKR select { border: 1px solid #b8b8b8; height:24px; vertical-align: middle; padding: 0 2px; font-size:13px;}
.groupKR .tboxKR { border: 1px solid #b6b6b6; background: #fff; height: 92px; padding: 5px 5px 0; }
.groupKR .sboxKR {border: 1px solid #b6b6b6;background: #f3f3f3;height: 92px;padding: 5px 5px 0;vertical-align: middle;}
.groupKR .sboxKR p { vertical-align: middle; margin-bottom:4px; }
.groupKR .sboxKR p strong{ display: inline-block; width: 45%; float:left; text-align:left; margin-top:5px; font-size: 12px; font-weight: normal;}
.groupKR .nboxKR p { vertical-align: middle; margin-bottom:4px }
.groupKR .nboxKR p strong{ display: inline-block; float:left;  text-align:left; margin-top:5px; font-size: 12px; padding-left:5px; font-weight: normal;}
.tbs_KR {margin: 0 auto 5px;border-collapse: collapse;border-spacing: 0;}
.tbs_KR th { padding: 0; text-align: center; background: #dcdcdc; font-weight: 500; font-size: 12px; border: 2px solid #f2f2f2; line-height:24px; }
.tbs_KR td { padding: 0; font-size: 12px; background: #f2f2f2;  text-align: center; border: 2px solid #f2f2f2;}
.groupKR .sboxKR  span.Tit1  { display: inline-block; width: 45%; float:left; text-align:left; margin-top:5px; font-size: 12px; font-weight: normal; }
.groupKR .sboxKR  span.Tit2  { display: inline-block; width: 90px; float:left; text-align:left; margin-top:5px; font-size: 12px; font-weight: normal; }

/* proboxKR */
/*
.proboxKR {padding:0x; border:1px solid #b6b5b5; margin:5px}
.proboxKR ul{ text-align: center; padding:8px 5px}
*/

.ProjcetCont { padding:0 5px; overflow-y: auto;}

.proboxKR {padding:0; }
.proboxKR ul{ text-align: center; border: 1px solid #b6b5b5; background: #f0f0f0;  padding:3px;}
.proboxKR ul:after { content: ""; display: block; clear: both; visibility: hidden;}
.proboxKR ul li {float: left;width: 33.33%;padding: 3px;margin: 0}
.proboxKR ul li .proLink{ display: block; position: relative; background: #fff; border: 1px solid #d9d9d9; text-align: left; padding:10px;}
.proboxKR ul li .proLink:hover { border: 1px solid #000; }
.proboxKR ul li .proLink .pTit { font-size: 13px; padding: 0 0 5px; font-weight: bold; color: #000; line-height: 24px; text-overflow: ellipsis; color: #000; overflow: hidden; white-space: nowrap;}
.proboxKR ul li .proLink .pTxt { padding: 0;  font-size: 12px;}
.proboxKR ul li .proLink .pTxt a { color: #222; font-size: 11px; line-height: 15px; }
.proboxKR ul li .proLink .pTxt a:hover { color: #0078d7; text-decoration: underline; }
.proboxKR ul li .proLink .pBtm { padding: 5px; border-top: 1px solid #d6d6d6; margin-top: 20px; background: #f2f2f2; }
.proboxKR h3 {background: #e1e1e1;color: #000; text-align:center; padding:4px;  font-size:12px; border: 1px solid #adadad;border-bottom:none; font-weight: bold;}

/* runList */
.runList ul{ text-align: center;}
.runList ul:after { content: ""; display: block; clear: both; visibility: hidden; }
.runList ul li {float: left;width: 20%;padding: 4px 0 4px 5px;margin: 0}
.runList ul li .runLink{ display: block; position: relative; background: #f3f3f3; margin: 0; border: 1px solid #b4b4b4; text-align: left; padding:0; }

.runList ul li .runLink .runTit {position: absolute;left: 10px;top: 9px;}
.runList ul li .runLink .runTit a.pmore  {display: inline-block;padding: 0; width:65px; border: 1px solid #b8b8b8;vertical-align: middle;  text-align:center;height: 24px; line-height:24px;background: #fff;font-size: 12px;}
.runList ul li .runLink .runTit a.pmore:hover { color:#000; border: 1px solid #000; }
.runList ul li .runLink .runTit span.Tit {display: block; font-size: 16px;padding: 0 2px 5px;font-weight: bold;color: #000;}
.runList ul li .runLink .runTxt  {font-size: 15px; font-weight:bold;margin: 8px 8px;vertical-align: middle; text-align:right;}
.runList ul li .runLink .runChart { text-align:center; margin:0 auto ;background: #fff;border-top: 1px solid #d6d6d6;} 
.runList ul li .runLink .runTit a.b1 { border: 1px solid #b8b8b8; color:#555; }
.runList ul li .runLink .runTit a.b2 { border: 1px solid #7921f1; color:#7921f1; }
.runList ul li .runLink .runTit a.b3 { border: 1px solid #a44500; color:#a44500; }

.Run1 {display: inline-block;width: 125px;text-align:left;border: 1px solid #34a853; color:#34a853;line-height: 20px;padding: 14px 10px 14px 56px;background: #fff url('../images/Run/run_1.png') no-repeat 15px center;background-size: 35px;}
.Run1:hover  {background: #34a853 url('../images/Run/run_1w.png') no-repeat 10px center; color:#fff; background-size: 35px;}
.Run2 {display: inline-block;width: 125px;text-align:left;border: 1px solid #0c70be; color:#0c70be;line-height: 20px;padding: 14px 10px 14px 56px;background: #fff url('../images/Run/run_2.png') no-repeat 15px center;background-size: 35px;}
.Run2:hover  {background: #0c70be url('../images/Run/run_2w.png') no-repeat 10px center; color:#fff; background-size: 35px;}
.Run3 {display: inline-block;width: 125px;text-align:left;border: 1px solid #ea4335; color:#ea4335;line-height: 20px;padding: 14px 10px 14px 50px;background: #fff url('../images/Run/run_3.png') no-repeat 10px center;background-size: 35px;}
.Run3:hover  {background: #ea4335 url('../images/Run/run_3w.png') no-repeat 10px center; color:#fff; background-size: 35px;}
.Run4 {display: inline-block; width: 125px;text-align:left;border: 1px solid #b4b4b4; color:#959191;line-height: 20px;padding: 14px 10px 14px 50px;background: #fff url('../images/Run/run_4.png') no-repeat 10px center; background-size: 35px;}
.Run4:hover  {background: #b4b4b4 url('../images/Run/run_4w.png') no-repeat 10px center; color:#fff; background-size: 35px; }
.Run5 {display: inline-block;width: 125px;text-align:left;border: 1px solid #555; color:#555;line-height: 20px;padding: 14px 15px 14px 50px;background: #fff url('../images/Run/run_5.png') no-repeat 10px center;background-size: 35px;}
.Run5:hover  {background: #555 url('../images/Run/run_5w.png') no-repeat 10px center; color:#fff; background-size: 35px;}

.AddboxKR { position: absolute; z-index: 999;   left:9px; top:9px; padding:3px; background: #e6e6e6;  }
.AddboxKR h3 { background: #57637d; color:#fff; position: absolute; left:0; top:0; height: 62px; width:55px; line-height:62px; text-align: center; font-size:12px;}
.AddboxKR ul { margin-left: 55px; }
.AddboxKR li { background: #fff; float:left; height:56px; width:50px;  margin:00; padding-top:2px; text-align:center; border-top: 1px solid #b4b4b4; border-bottom: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; font-size:11px}
.AddboxKR li:first-child { border-left: 1px solid #b4b4b4;}
.AddboxKR li img{display: block; margin:0 auto; margin-top:2px;}
.AddboxKR li:hover {background: #bfe0ff }

.EditboxKR { position: absolute; z-index: 999;   left:230px; top:9px; padding:3px; background: #e6e6e6;  }
.EditboxKR h3 { background: #57637d; color:#fff; position: absolute; left:0; top:0; height: 62px; width:55px; line-height:62px; text-align: center; font-size:12px;}
.EditboxKR ul { margin-left: 55px; }
.EditboxKR li { background: #fff; float:left; height:56px; width:50px;  margin:00; padding-top:2px; text-align:center; border-top: 1px solid #b4b4b4; border-bottom: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; font-size:11px}
.EditboxKR li:first-child { border-left: 1px solid #b4b4b4;}
.EditboxKR li img{display: block; margin:0 auto; margin-top:3px;}
.EditboxKR li:hover {background: #bfe0ff }

.QmapboxKR { position: absolute; z-index: 999;   right: 10px; padding:3px; background: #e6e6e6; top: 60px;  }
.QmapboxKR h3 { background: #57637d; color:#fff; line-height:30px; text-align: center; font-size:12px; margin-bottom:5px}
.QmapboxKR li { display: block; background: #fff;  height:56px; width:60px;  margin:0; padding-top:2px; text-align:center; border-left: 1px solid #b4b4b4; border-bottom: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; font-size:11px}
.QmapboxKR li:first-child { border-top: 1px solid #b4b4b4;}
.QmapboxKR li img{display: block; margin:0 auto; margin-top:3px;}
.QmapboxKR li:hover {background: #bfe0ff }

.QeditboxKR { position: absolute; z-index: 999;   padding:0 0 3px; background: #e3e3e3;  border: 1px solid #a9a9a9;}
.QeditboxKR h3 { background: #a9a9a9; color:#fff; line-height:30px; text-align: center; font-size:12px; margin-bottom:5px}
.QeditboxKR li { display: block; background: #fff;  height:60px; width:64px;  margin:0 3px; padding-top:5px; text-align:center; border-left: 1px solid #b4b4b4; border-bottom: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; font-size:11px}
.QeditboxKR li:first-child { border-top: 1px solid #b4b4b4;}
.QeditboxKR li img{display: block; margin:0 auto; margin-top:3px;}
.QeditboxKR li:hover {background: #bfe0ff }

.Q3dboxKR { position: absolute; z-index: 999;   padding:0 0 3px; background: #e3e3e3;  border: 1px solid #a9a9a9;}
.Q3dboxKR h3 { background: #a9a9a9; color:#fff; line-height: 24px; text-align: center; font-size:12px; margin-bottom:5px}
.Q3dboxKR li { display: block; background: #fff;  height:60px; width:64px;  margin:0 3px; padding-top:5px; text-align:center; border-left: 1px solid #b4b4b4; border-bottom: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; font-size:11px}
.Q3dboxKR li:first-child { border-top: 1px solid #b4b4b4;}
.Q3dboxKR li img{display: block; margin:0 auto; margin-top:3px;}
.Q3dboxKR li:hover {background: #bfe0ff }

.MaptypeKR { position: absolute; top: 10px; right: 10px; z-index: 999; }
.MaptypeKR ul { overflow: hidden; padding: 2px 5px; height: 34px; background: #fff; border-radius: 5px; }
.MaptypeKR li { overflow: hidden; float: left; height: 30px; font-size: 12px; line-height: 28px; text-align: center; border-radius: 5px; color:#000;  width: 80px;}
.MaptypeKR li.active {background: #000;}
.MaptypeKR li.active a { color:#fff;  }

.MaptypeKR li.noneKR.active { background: #5e6a84; border: 1px solid #4f5b75; }
.MaptypeKR li.worldKR.active { background: #34a853; border: 1px solid #33a752; }
.MaptypeKR li.googleKR.active { background: #ea4335; border: 1px solid #d93c2f; }

.MaptypeKR4 { position: absolute; top: 100px; right: 90px; z-index: 999; }
.MaptypeKR4 ul { overflow: hidden; padding: 2px; height: 30px; background: #fff; border-radius: 5px; }
.MaptypeKR4 li { overflow: hidden; float: left; height: 26px; font-size: 12px; line-height: 26px; text-align: center; border-radius: 5px; color:#000; padding:0 15px; }
.MaptypeKR4 li a { color:#000;  }
.MaptypeKR4 li.active {background:#1891da;}
.MaptypeKR4 li.active a { color:#fff; font-weight:bold;}

/** gis */
.custom-mouse-position { position: absolute; top: 3px; right: 3px; width:190px; text-shadow: -1px 0px #ffffff, 0px 1px #ffffff, 1px 0px #ffffff, 0px -1px #ffffff;}

/* tab 메뉴 */
.tab_menu_box { position: relative; z-index: 77; padding-bottom: 25px; }
.tab_menu_box .tab_menu_button { display: none; }
.tabmenu ul { display: table; table-layout: fixed; width: 100%; }
.tabmenu ul li { display: table-cell; }
.tabmenu ul li:first-child { border-left: 1px solid #d9d9d9; }
.tabmenu ul li a { position: relative; display: block; border-color: #d9d9d9; border-style: solid; border-width: 1px 1px 1px 0; background: #f9f9f9; padding: 15px 0; text-align: center; vertical-align: middle; font-size: 16px; color: #707070; }
.tabmenu ul li a:hover { background: #fff; color: #000; font-weight: 500; }
.tabmenu ul li a.active { border-color: #EE6501; background: #e06104; color: #fff; font-weight: 500; }

/* long tab 메뉴 */
.tab_long_box { position: relative; z-index: 77; margin: 20px 0 20px; }
.tab_long_box .tab_long_button { position: relative; display: none; border: #1a3777 solid 3px; width: 100%; height: auto; margin: 0; padding: 11px 33px 11px 17px; background: transparent; line-height: 20px; text-align: left; color: #1a3777; font-size: 16px; }
.tab_long_box .tab_long_button:before { position: absolute; top: 19px; right: 15px; display: block; width: 14px; height: 8px; background: url('../images/contents/tab_menu.png') no-repeat; content: ''; }
.tablong ul { display: table; width: 100%; table-layout: fixed; }
.tablong ul li { display: table-cell; border-top: 1px solid #d6d6d6; }
.tablong ul li a { position: relative; display: block; border-color: #d6d6d6; border-style: solid; border-width: 0 1px 1px 0; background: #f9f9f9; padding: 12px 5px; text-align: center; vertical-align: middle; color: #333333; font-size: 15px; font-weight: 500; }
.tablong ul li.active a, .tablong ul li a:hover { border-color: #d9d9d9; background: #EE6501; color: #FFF; }
.tablong ul li a:before { position: absolute; top: calc(50% - 4px); right: 20px; display: block; width: 14px; height: 8px; background-repeat: no-repeat; background-position: center top; content: ''; transition-property: background-position, transform; transition-duration: 200ms; transition-timing-function: ease-in-out; }
.tablong ul li:first-child a { border-left: 1px solid #d6d6d6; }
.tablong ul li.active a:before, .tablong ul li a:hover:before { background-position: center bottom; transform: rotateX(180deg); }

/* 탭박스 */
.tab-box:after { content: ""; display: block; clear: both; } 
.tab-box .w2tabcontrol_contents_wrapper>.search-box,.tab-box .w2tabcontrol_contents_wrapper .w2wframe > .search-box { background-color: #f6f6f6; background-image: none; } 
.tab-box .w2tabcontrol_contents_wrapper>.search-box>.btn-group a,.tab-box .w2tabcontrol_contents_wrapper .w2wframe .search-box>.btn-group a { background-color: #5dc7e5 !important; height: 36px; line-height: 32px; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb { width: 100%; margin-top: 0px; margin-bottom: 0px; border-collapse: collapse; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb .w2tb_th { height: 36px; background: #fcfdff; padding: 5px 8px 5px 8px; border: 1px solid #efefef; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb .w2tb_td { background: white; height: 36px; padding: 5px 8px 5px 8px; border: 1px solid #efefef; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb .w2tb_th.req span:before { content: "* "; color: #ff0024; font-weight: normal; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb .w2tb_th.req+td> .w2input { background-color: #fff2c6 !important; border-color: #ffcf7b !important; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb .w2tb_th.req+td> .w2selectbox { background-color: #fff2c6 !important; border-color: #ffcf7b !important; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb .w2tb_th.req+td> .w2autoComplete { background-color: #fff2c6 !important; border-color: #ffcf7b !important; } 
.w2group .w2tabcontrol_contents_wrapper > .w2tb .w2tb_th.req+td> .w2textarea { background-color: #fff2c6 !important; border-color: #ffcf7b !important; } 
.w2table_tabControl { left: auto !important; right: 10px; } 
.w2tabcontrol { margin-bottom: 15px; position: relative; } 
.w2tabcontrol_contents { height: auto !important; }
.w2tabcontrol_contents>.w2tabcontrol_contents_wrapper>.search-box:first-child { margin-bottom: 15px; } 
.w2tabcontrol_contents>.w2tabcontrol_contents_wrapper>.w2wframe>.search-box:first-child { margin-bottom: 15px; } 
.w2tabcontrol_contents_wrapper { height: auto !important; } 
.w2tabcontrol_container .w2wframe { overflow: visible; }
.layout-float .con-box .w2tabcontrol { position: relative; }top: -10px; 
.w2tabcontrol > .w2tabcontrol_tabhost { background: #fff !important; float: none;  width: 100%; } 
.w2tabcontrol > .w2tabcontrol_tabhost ul { display: table; table-layout: fixed; width: 100%; }
.w2tabcontrol > .w2tabcontrol_tabhost ul li { display: table-cell; }
.w2tabcontrol > .w2tabcontrol_tabhost > .w2tabcontrol_li {display: table-cell;background: transparent;border-color: #d9d9d9;border-style: solid;border-width: 1px 1px 0 0;} 
.w2tabcontrol > .w2tabcontrol_tabhost > .w2tabcontrol_li:first-child { border-left: 1px solid #d9d9d9; }
.w2tabcontrol .w2tabcontrol_tabhost .w2tabcontrol_tab_center { padding: 0; border: 0px none; border-right: 0; background: transparent; text-align:center; } 
.w2tabcontrol .w2tabcontrol_tabhost .w2tabcontrol_tab_center a { top: 0; margin: 0; display: block; color: #929292; } 
.w2tabcontrol > .w2tabcontrol > .w2tabcontrol_tabhost > .w2tabcontrol_li { overflow: hidden !important; } 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_tab_center { padding: 0; border-right: 0; background: transparent; width: 100%; } 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_tab_center a {font-family: 'Roboto', sans-serif;top: 0;margin: 0;padding: 0 22px 0px 10px;line-height: 30px;vertical-align: middle;color: #333;font-size: 13px;font-weight: bold;background: #F2F2F3;height: 30px;overflow: hidden;} 
.w2tabcontrol.tab2  > .w2tabcontrol_tabhost .w2tabcontrol_tab_center a {color: #000; background: #f7f7f7; font-size: 13px;} 
.w2tabcontrol.tab2 > .w2tabcontrol_tabhost .w2tabcontrol_tab_center a { font-family: 'Roboto', sans-serif;top: 0;margin: 0;padding: 0 10px 0px 10px;line-height: 30px;vertical-align: middle;color: #333;font-size: 13px;font-weight: bold;background: #dedede;} 
.w2tabcontrol.tab2 > .w2tabcontrol_tabhost .w2tabcontrol_tab_center { padding: 0; border-right: 0; background:#dedede; width: 100%; } 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center {background: #6f7780 !important;position: relative;overflow: visible;/* margin-bottom: -1px; */} 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center a {color: #000 !important;font-size: 13px;font-weight: blod;border-color: #bfe0ff;background: #bfe0ff;} 
.w2tabcontrol.tab2 >  .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center a {background: #fff;font-size: 13px;} 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center a span { padding-left: 5px; font-size: 15px;  border-bottom: 1px solid #d7d7d7;  }
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_disabled { opacity: 1; } 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_disabled .w2tabcontrol_tab_center { background: #f7f7f7; } 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_disabled .w2tabcontrol_tab_center a { color: #888888; line-height: 46px; } 
.w2tabcontrol > .w2tabcontrol_tab_right, .w2tabcontrol_tab_left { display: none; } 
.w2tabcontrol > .w2tabcontrol_container { height: auto !important; border: 0; padding-bottom: 0; background: transparent; border-top: none; } 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_right { background-image: none; } 
.w2tabcontrol > .w2tabcontrol_tabhost .w2tabcontrol_tab_right { background-image: none; } 

.tabBoxKR {background: #Fff;border: 1px solid #ddd;padding: 10px;}

/* 로그인 */
.log_wrap { margin: 0 auto; padding: 60px 0; }
.log_wrap > div { max-width: 600px; position: relative; margin: 0 auto; }
.log_wrap .space { margin: 10px 0 20px; }
.log_wrap .space input { width: 100%; height: 48px; padding: 10px 20px 10px 60px; font-size: 15px; border: 1px solid #d9d9d9; line-height: 48px; border-radius: 50px; }
.log_wrap .space a { font-size: 18px; font-weight: 500; vertical-align: middle; text-align: center; }
.log_wrap .login_text { text-align: center; margin-top: 30px; }
.log_wrap .login_text a:hover { color: #0360C4; text-decoration: underline; }
.log_wrap .login_text span { position: relative; padding-left: 24px; margin-left: 20px; }
.log_wrap .login_text span:before { display: inline-block; position: absolute; top: 7px; left: 0; width: 1px; height: 14px; background: #ccc; content: ''; }
.log_wrap .contTxt { margin-bottom: 40px; }
.log_wrap .space .inp_id { background: url('../images/contents/ic_id.png') no-repeat 10px center; }
.log_wrap .space .inp_password { background: url('../images/contents/ic_password.png') no-repeat 10px center; }
.btn_kwater { display: inline-block; background: #0360c4; color:#fff; border: 1px solid #0360c4; width: 100%; height: 50px; line-height: 50px; }


/* Window-Popup */
.w2window_maximized.w2popup_window.header-none { position: fixed !important; left: 50% !important; top: 50% !important; right: auto !important; bottom: auto !important; margin-left: -225px !important; margin-top: -99px !important; }
.w2window {/* border: 1px solid #bebebe; *//* box-shadow: 0 0 1px #000; */}
.w2popup_window .w2window_header {position: absolute;height: 40px;background: #474747;} 
.w2popup_window .w2window_header_icon { position: absolute; top: 0px; left: 3px; width: 44px; height: 24px; background: none; }
.w2popup_window .w2window_header_title {position: absolute;top: 0;left: 10px;width: 300px;height: 40px;padding: 0;font-size: 12px;font-weight: bold;color: #fff;line-height: 40px;  font-family: 'Microsoft YaHei', sans-serif;}
.w2popup_window .w2window_header_control {position: absolute;top: 0;right: 0px;}
.w2popup_window .w2window_body {background-color: #f2f2f2;position: absolute;top: 40px;}
.w2popup_window .w2window_content {background-color: #f2f2f2;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0;height: 100%;/* border-top: 1px solid #c6c6c6; *//* border-bottom: 1px solid #303030; */}
.w2popup_window .w2window_iframe { background-color: #ffffff; position: absolute; width: 100%; height: 100%; border: 0px; padding: 0px; }
.w2popup_window .w2window_status { background-color: #ffffff; position: absolute;  }
.w2popup_window .w2window_msg { background: url(uiplugin/window/images/icon_msg.gif) left center no-repeat; position: absolute; overflow: hidden; top: 3px; left: 2px; width: 160px; height: 14px; padding: 3px 0px 0px 18px; }

/* 헤더 */
.header-none .w2window_header { position: absolute; height: 40px; display: none; } 
.header-none .w2window_body { background-color: #ffffff; position: absolute; top: 0; }
.header-none .w2window_content { background-color : #ffffff; position: relative; }
.header-none .w2window_iframe { background-color : #ffffff; position: absolute; width: 100%; border: 0px; padding: 0px; }
.header-none .w2window_status { background-color : #ffffff; position: absolute; height: 20px; border-top: 0px solid #7f95b3; display: none; }
.header-none .w2window_msg { background: url(uiplugin/window/images/icon_msg.gif) left center no-repeat; position: absolute; overflow: hidden; top: 3px; left: 2px; width: 160px; height: 14px; padding: 3px 0px 0px 18px; }

.header-error .w2window_header { position: absolute; height: 40px; display: block; } 
.header-error .w2window_header .w2window_header_icon { width: 50%; height: 100%; }
.header-error .w2window_header .w2window_header_title { position: absolute; height: 40px; background: #fff; display: none; } 
.header-error .w2window_header .w2window_header_control { position: absolute; height: 40px; background: #fff; display: none; } 
.header-error .w2window_body { background-color: #ffffff; position: absolute; top: 40px; }
.header-error .w2window_content { background-color : #ffffff; position: relative; }
.header-error .w2window_iframe { background-color : #ffffff; position: absolute; width: 100%; border: 0px; padding: 0px; }
.header-error .w2window_status { background-color : #ffffff; position: absolute; height: 20px; border-top: 0px solid #7f95b3; }
.header-error .w2window_msg { background: url(uiplugin/window/images/icon_msg.gif) left center no-repeat; position: absolute; overflow: hidden; top: 3px; left: 2px; width: 160px; height: 14px; padding: 3px 0px 0px 18px; }

.header-notice .w2window_header .w2window_header_icon {width: 0;height: 0;margin-left: 0;}
.header-notice .w2window_header .w2window_header_title {position: absolute;background: #fff;display: none;} 
.header-notice .w2window_header .w2window_header_control { position: absolute; height: 40px; background: #fff; display: none; } 
.header-notice .w2window_body {background-color: #ffffff;position: absolute;top: 40px;}
.header-notice .w2window_content {background-color: #f2f2f2;position: relative;}
.header-notice .w2window_iframe { background-color : #ffffff; position: absolute; width: 100%; border: 0px; padding: 0px; }
.header-notice .w2window_status { background-color : #ffffff; position: absolute; height: 20px; border-top: 0px solid #7f95b3; }
.header-notice .w2window_msg { background: url(uiplugin/window/images/icon_msg.gif) left center no-repeat; position: absolute; overflow: hidden; top: 3px; left: 2px; width: 160px; height: 14px; padding: 3px 0px 0px 18px; }

.header-warning .w2window_header { position: absolute; height: 40px; display: block; } 
.header-warning .w2window_header .w2window_header_icon { width: 50%; height: 100%; }
.header-warning .w2window_header .w2window_header_title { position: absolute; height: 40px; background: #fff; display: none; } 
.header-warning .w2window_header .w2window_header_control { position: absolute; height: 40px; background: #fff; display: none; } 
.header-warning .w2window_body { background-color: #ffffff; position: absolute; top: 40px; }
.header-warning .w2window_content { position: relative; }
.header-warning .w2window_iframe { background-color : #ffffff; position: absolute; width: 100%; border: 0px; padding: 0px; }
.header-warning .w2window_status { background-color : #ffffff; position: absolute; height: 20px; border-top: 0px solid #7f95b3; }
.header-warning .w2window_msg { background: url(uiplugin/window/images/icon_msg.gif) left center no-repeat; position: absolute; overflow: hidden; top: 3px; left: 2px; width: 160px; height: 14px; padding: 3px 0px 0px 18px; }

.header-confirm .w2window_header { position: absolute; height: 40px; display: block; } 
.header-confirm .w2window_header .w2window_header_icon { width: 50%; height: 100%; }
.header-confirm .w2window_header .w2window_header_title { position: absolute; height: 40px; background: #fff; display: none; } 
.header-confirm .w2window_header .w2window_header_control { position: absolute; height: 40px; background: #fff; display: none; } 
.header-confirm .w2window_body { background-color: #ffffff; position: absolute; top: 40px; }
.header-confirm .w2window_content {  position: relative; }
.header-confirm .w2window_iframe { background-color : #ffffff; position: absolute; width: 100%; border: 0px; padding: 0px; }
.header-confirm .w2window_status { background-color : #ffffff; position: absolute; height: 20px; border-top: 0px solid #7f95b3; }
.header-confirm .w2window_msg { background: url(uiplugin/window/images/icon_msg.gif) left center no-repeat; position: absolute; overflow: hidden; top: 3px; left: 2px; width: 160px; height: 14px; padding: 3px 0px 0px 18px; font-size: 12px; color: #033771; }

/* 메세지창 */
.alert-pop { position: relative; margin-top: 0px; top: 0px; }
.alert {font-size: 13px;margin: 0;margin-top: 0px;display: block;padding: 10px 5px;line-height: 160%;font-size: 14px;background-size: 40px 39px;letter-spacing: -1px;text-align: center !important;}
.alert-pop .footer .btn-group { background: transparent !important; text-align: center; padding: 0px 0px 0px 0; }
.alert-pop .footer .btn-group a { min-width: 80px !important; padding-left: 20px !important; padding-right: 20px !important; margin-left: 10px !important; }
.alert-pop .footer .btn-group a:first-child { margin-left: 0px !important; }
.alert-pop .w2input_disabled { background-color: #b1b1b1 !important; color: #fff !important; }
.alert-pop>.w2floatingLayer_table>tbody>.w2floatingLayer_dragArea { display: none; }

.header-notice .w2window_header .w2window_header_icon {;}
.header-notice .w2window_header_icon:after {content: "notice";display: inline-block;color: #fff;text-transform: uppercase;font-weight: bold;font-size: 13px;left: 6px;top: 10px;position: relative; font-family: 'Microsoft YaHei', sans-serif;}
.header-warning .w2window_header .w2window_header_icon { }
.header-warning .w2window_header_icon:after { content: "warning"; display: inline-block; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 13px; left: 6px; top: 10px; position: relative; font-family: 'Microsoft YaHei', sans-serif;}
.header-error .w2window_header .w2window_header_icon {  }
.header-error .w2window_header_icon:after { content: "error"; display: inline-block; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 13px; left: 6px; top: 10px; position: relative; font-family: 'Microsoft YaHei', sans-serif;}
.header-confirm .w2window_header .w2window_header_icon { }
.header-confirm .w2window_header_icon:after { content: "confirm"; display: inline-block; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 13px; left: 6px; top: 10px; position: relative;font-family: 'Microsoft YaHei', sans-serif; }
.white { background: #fff; }
.alert > .w2scrollView {padding: 20px 0;background: #fff; border: 1px solid #b6b5b5; font-size: 13px;}
.alert .w2scrollView_container { padding: 0 20px; }
  
  
 /* treeview */
.w2treeview { padding-left: 20px; padding-top: 10px; }
.w2treeview_col_depth0 { display: none; }
.w2treeview_select_node { background: none; color: #1989bd; font-weight: bold }
.w2treeview_none { display: none; }
.w2treeview_col_icon_navi { width: 16px; }
.w2treeview_col_icon_checkbox {width: 16px;height: 16px;position: relative;left: -1px;background: url(../images/tree/leaf_single_root.gif) no-repeat -9px 6px;}
.w2treeview_col_icon_label { width: 20px; }
.w2treeview_checkbox { height: 14px; width: 14px; margin: 0; padding: 0; position: absolute; opacity: 0; }
.w2treeview_icon_navi { height: 30px; }
.w2treeview_icon_label { width: 18px; height: 20px; text-align: center; background-repeat: no-repeat; background-position: center center; }
.w2treeview_icon_label_none { display: none; }
.w2treeview_tooltip { display: none; position: absolute; border: none; background: #5c85d4; padding: 3px; cursor: default; margin: 20px; color: #fff; font-size: 12px; }
.w2treeview_partialselect { opacity: 0; }
.w2treeview_partialdiv { position: relative; height: 13px; width: 19px; overflow: visible; left: 15px !important; top: 1px !important; background: url(../images/tree/open-folder.png) no-repeat center center; }
.tree-box.check-tree .w2treeview_partialdiv { background: url(../images/tree/checkbox_normal.png) no-repeat center center; }
.w2treeview_close_child .w2treeview_partialdiv { background: url(../images/tree/close-folder.png) no-repeat center center; }
.tree-box.check-tree .w2treeview_close_child .w2treeview_partialdiv { background: url(../images/tree/checkbox_checked.png) no-repeat center center; }
.w2treeview_open_child .w2treeview_icon_navi { background: url(../images/tree/minus.png) no-repeat center center; }
.w2treeview_close_child .w2treeview_icon_navi { background: url(../images/tree/plus.png) no-repeat center center; }
.w2treeview_leaf .w2treeview_icon_navi { background: url(../images/tree/middle.gif) no-repeat center center; }
.w2treeview_last_leaf .w2treeview_icon_navi { background: url(../images/tree/last.gif) no-repeat center center; position: relative; top: -1px; }
.w2treeview_root_single_leaf .w2treeview_icon_navi { background: url(../images/tree/leaf_single_root.gif) no-repeat center center; }
.w2treeview_root_multi_leaf .w2treeview_icon_navi { background: url(../images/tree/leaf_multi_root.gif) no-repeat center center; }
.w2treeview_label {font-size: 11px;display: inline-block;text-indent: 18px;  font-family: 'Microsoft YaHei', sans-serif;}
.w2treeview_label2 { font-size: 11px; display: inline-block; text-indent: 5px;  font-family: 'Microsoft YaHei', sans-serif;}
.w2treeview_table_node td { text-align: left; vertical-align: middle; }
.chk-tree .w2treeview_checkbox { opacity: 1; }
.chk-tree .w2treeview_partialdiv { background: none; }
.chk-tree .w2treeview_partialdiv input[type=checkbox]:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_normal.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.chk-tree .w2treeview_partialdiv input[type=checkbox]:checked:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_checked.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.chk-tree .w2treeview_partialdiv input[type=checkbox]:disabled:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_disabled.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.chk-tree .w2treeview_partialdiv input[type=checkbox]:checked:disabled:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_checked_disabled.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.f_layer_m1 { position: absolute; z-index: 6008; left: -1px; } 
.f_layer_m2 { padding: 0; position: absolute; z-index: 6008; background: #fff;  margin-top: 1px; }

 /* .cktree treeview */
.cktree .w2treeview { padding-left: 20px; padding-top: 10px; }
.cktree .w2treeview_col_depth0 { display: none; }
.cktree .w2treeview_select_node { background: none; color: #1989bd; font-weight: bold }
.cktree .w2treeview_none { display: none; }
.cktree .w2treeview_col_icon_navi { width: 16px; }
.cktree .w2treeview_col_icon_checkbox { width: 19px; height: 19px; position: relative; left: -1px; top: 0; background: url(../images/tree/leaf_single_root.gif) no-repeat -5px 6px; }
.cktree .w2treeview_col_icon_label { width: 20px; }
.cktree .w2treeview_checkbox { height: 15px; width: 15px; margin-top: -3px; padding: 0; opacity: 1; }
.cktree .w2treeview_icon_navi { height: 30px; }
.cktree .w2treeview_icon_label { width: 18px; height: 20px; text-align: center; background-repeat: no-repeat; background-position: center center; }
.cktree .w2treeview_icon_label_none { display: none; }
.cktree .w2treeview_tooltip { display: none; position: absolute; border: none; background: #5c85d4; padding: 3px; cursor: default; margin: 20px; color: #fff; font-size: 12px; }
.cktree .w2treeview_partialselect { opacity: 1; }
.cktree .w2treeview_partialdiv { position: relative; height: 13px; width: 19px; overflow: visible; left: 15px !important; top: 1px !important; background: #fff; }
.cktree .tree-box.check-tree .w2treeview_partialdiv { background: url(../images/tree/checkbox_normal.png) no-repeat center center; }
.cktree .w2treeview_close_child .w2treeview_partialdiv { background: #fff; }
.cktree .tree-box.check-tree .w2treeview_close_child .w2treeview_partialdiv { background: url(../images/tree/checkbox_checked.png) no-repeat center center; }
.cktree .w2treeview_open_child .w2treeview_icon_navi { background: url(../images/tree/minus.png) no-repeat center center; }
.cktree .w2treeview_close_child .w2treeview_icon_navi { background: url(../images/tree/plus.png) no-repeat center center; }
.cktree .w2treeview_leaf .w2treeview_icon_navi { background: url(../images/tree/middle.gif) no-repeat center center; }
.cktree .w2treeview_last_leaf .w2treeview_icon_navi { background: url(../images/tree/last.gif) no-repeat center center; position: relative; top: -1px; }
.cktree .w2treeview_root_single_leaf .w2treeview_icon_navi { background: url(../images/tree/leaf_single_root.gif) no-repeat center center; }
.cktree .w2treeview_root_multi_leaf .w2treeview_icon_navi { background: url(../images/tree/leaf_multi_root.gif) no-repeat center center; }
.cktree .w2treeview_label { font-size: 12px; display: inline-block; margin-left: 20px; text-indent: 0; }
.cktree .w2treeview_table_node td { text-align: left; vertical-align: middle; }
.cktree .chk-tree .w2treeview_checkbox { opacity: 1; }
.cktree .chk-tree .w2treeview_partialdiv { background: none; }
.cktree .chk-tree .w2treeview_partialdiv input[type=checkbox]:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_normal.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.cktree .chk-tree .w2treeview_partialdiv input[type=checkbox]:checked:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_checked.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.cktree .chk-tree .w2treeview_partialdiv input[type=checkbox]:disabled:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_disabled.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.cktree .chk-tree .w2treeview_partialdiv input[type=checkbox]:checked:disabled:before { width: 20px; height: 20px; display: inline-block; content: ""; background: url(../images/tree/checkbox_tree_checked_disabled.png) no-repeat center center !important; position: relative; top: -7px; left: -3px; }
.cktree .f_layer_m1 { position: absolute; z-index: 6008; left: -1px; } 
.cktree .f_layer_m2 { padding: 0; position: absolute; z-index: 6008; background: #fff;  margin-top: 1px; }

.titBoxKR .Tit {margin-right:10px; font-size:12px; font-weight:bold}

.txtBoxKR { border: 1px solid #b6b5b5; font-size:12px; background: #f2f2f2; }
.txtBoxKR .txtH3 {background: #cbcbcb; color:#000; text-align:center; padding:5px; font-size:13px;  }
.txtBoxKR .txt2box { padding:5px; position: relative; }
.txtBoxKR .txt2box span { position: absolute; top:10px }
.txtBoxKR .txt1box { padding:5px; position: relative; }
.txtNH3 {background: #b6b5b5; color:#000; text-align:center; padding:5px; font-size:13px;  }

.txtBoxKR .sHcbox { background: #f2f2f2;}
.txtBoxKR .sHcbox ul{position: relative;  }
.txtBoxKR .sHcbox li{ float:left; padding:5px; }

.txtBoxKR .Timebox { padding:20px 5px 0; text-align:center;  background: #f2f2f2; }

.txt2BoxKR { border: 1px solid #b4b4b4;  background: #f2f2f2; }
.txt2BoxKR .txtH3 {background: #dedede; color:#505050; text-align:left; padding:5px;  font-weight:bold;font-size: 13px;}
.txt2BoxKR .txt2box { padding:5px; position: relative;  font-size:12px; }
.txt2BoxKR .txt2box strong {font-size:13px; line-height:24px; }
.poplogBox {border: 1px solid #b4b4b4;  background: #fff; padding:5px;  font-size:12px; }

.txt2H3 {background: #b6b5b5; color:#000; text-align:center; padding:5px;  font-size:13px;  }
.txt3box {position: relative; margin:5px; padding:5px; border: 1px solid #b6b5b5;}
.txt3box .Ogee { position: absolute; top:20px; left:20px }
.txt3box .OgeeT  { margin-left:200px; text-align:right; }
.txt3box .OgeeT span {  }
.WBoxKR { border: 1px solid #c7c2c2; background: #fff;  }

.contextmenuKR {position: absolute; min-width: 100px; background: #fff; padding: 8px; border-radius: 5px; border: 1px solid #bfbfbf;}
.contextmenuKR li {position: relative;line-height: 20px; padding: 2px 5px;white-space: nowrap; }
.contextmenuKR li:hover {cursor: pointer; background-color: #333; color: #fff; }

/** table_Scroll **/
.page_scroll{/* overflow-x: auto; *//* overflow-y: auto; */}
.page_scroll.sclno{overflow:visible;}


/** 1680px 시작 **/
@media all and (max-width: 1680px) {
.runList ul li {width: 25%;  padding: 5px;}
}
/** 1680px 끝 **/


/** 1380px 시작 **/
@media all and (max-width: 1380px) {
.runList ul li {width: 33.33%;}
.headerKR .gnbLinkAll .allMenu { padding: 0; margin: 0 0 0 150px; }
}
/** 1380px 끝 **/


/** 1180px 시작 **/
@media all and (max-width: 1180px) {
	.runList ul li { width: 50%; }
	

	/* HEADER */
/* .headerKR .gnbLinkAll .allMenu  */
	.headerKR .gnbLinkAll .allMenu{display:none;}
	.headerKR .gnbLinkAll .toplink { position: absolute; right: 50px;  }


	.wrap_header .nav_wrap{width:100%;height:70px;}
		
	.r5_cnt hold{position:fixed}

	/* NAV_MOBILE - 780 */
	.R5_scrn{position:absolute;width:100%;height:100%;top:0;padding-top:40px;z-index:1500;display:none;box-sizing:border-box;}
	.R5_scrn div{width:100%;height:100%;box-sizing:border-box;background:none rgba(0, 0, 0, 0.5);filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#50000000', endColorstr='#50000000');}
	.R5_scrn.scr_on{display:inline-block;}    
	
	.mnav_btn{display:block;position:absolute;right:15px;top:10px;width:24px;height:24px;padding:0;line-height:0;color:transparent;font-size:0}	
	.mnav_btn span{display:block;width:100%;height:2px;margin:3px 0;background:#fff;float:right;transition:all .2s;-webkit-transition:all .2s;}
	.mnav_btn span:first-child{width:60%;}
	.mnav_btn:hover span{width:100% !important;background:#fff;}		

	.R5_mnav{width:320px;height:100%;display:block;position:fixed;right:-320px;top:40px;transition:right 0.3s linear;margin:0;border:0;border-radius:0;overflow-y:auto ;overflow-x:hidden;height:100%;z-index:1501;background-color:#f5f5f5;}    
	.R5_mnav.R5_act{right:0;top:40px;transition:right 0.3s linear;}
	.R5_mnav.R5_mnact{right:0;top:0;transition:right 0.3s linear;}
	
	.R5_mnav li.active{background-color:#005099;color:#fff;} 
	
	.R5_mnav li a{padding:10px 15px 10px;font-size:14px;display:block;outline:0;font-weight:500;color:#000;font-family:'Noto Sans KR', sans-serif; border-bottom:1px solid #ddd;}
	.R5_mnav li.active a {color:#fff;}
	.R5_mnav li ul.msmn_box{position:relative;display:none;width:320px;background:#fff;padding-top:0;}
	.R5_mnav li ul.msmn_box li{display:block;list-style-type:none;margin-top:-1px;padding:5px 0;}
	.R5_mnav li ul.msmn_box li:first-child{padding-top:10px}
	.R5_mnav li ul.msmn_box li:last-child{padding:5px 0 10px; border-bottom:1px solid #ddd;}
	.R5_mnav li ul.msmn_box li a{font-size:12px;display:block;background:#fff;border-bottom:none;color:#000;padding:0 10px 0 20px;  font-family:'Noto Sans KR', sans-serif;font-weight:400;}
	.R5_mnav li ul.msmn_box li a:hover{text-decoration:underline; color:#005099;}

	.arrow-down{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #505050;position:absolute;top:20px;right:10px;content:'';}
	.opacity{position:fixed;top:0;bottom:0;left:0;right:0;}
	.R5_mnav li.bg1{background-color:#0159ad;}	

}
/** 1180px 끝 **/


/** 1000px 시작 **/
@media all and (max-width: 1000px) {	

	.QmapboxKR { top: 20px;  }
	.EditboxKR {  left:10px; top:80px;  }

}
/** 1000px 끝 **/

	

/** 880px 시작 **/
@media all and (max-width: 880px) {
	.headerKR .gnbLink ul{ margin: 0 0 0 120px; }
	.runList ul li { width: 100%; }
	}
/** 1000px 끝 **/