@charset "utf-8";

/* SUB CONTENTS */
.content{margin:80px auto; word-break: keep-all;}

/* 타이틀 */
.page_title{display:block; position:relative; padding:20px 0; font-size:40px; font-weight:700; color:#222; text-align:center; margin:80px 0 40px; letter-spacing:-1px;}
.page_title:before{position:absolute; top:0; left:50%; transform:translateX(-50%); width:50px; height:2px; background-color:#555; content:"";}
.page_title img{height:45px;vertical-align:middle; margin-bottom:5px;}
.titleH4{position:relative;color:#101010;font-weight:500; font-size:26px; padding-bottom:10px}
.titleH4 span{font-size:18px;color:#777;}

/*  PAGE :기본  */
.page_area{margin:40px 0;}
.page_area > div{max-width:1400px;margin:0 auto;}

/*  COMPANY ::회사소개  */
.company_area{padding:80px 0 40px;}
.company_title{display:table;width:100%;padding-bottom:50px;border-bottom:1px dashed #aeaeae;}
.company_title > dt, .company_title > dd{display:table-cell;vertical-align:middle;}
.company_title > dt{padding-right:60px;}
.company_title > dt strong{display:block;font-size:100px;line-height:50px;color:#cbcaca;font-weight:700;}
.company_title > dt h3{font-size:35px;color:#000;font-weight:400;letter-spacing:-1.5px;margin-bottom:20px;}
.company_title > dt h3 span{color:#172d85;font-weight:500;}
.company_title > dt p{font-size:22px;line-height:36px;color:#222;}
.company_title > dt p b{font-weight:500;}
.company_title > dd{width:35.33%;}
.company_title > dd img{height:320px;}
.company_title > dt p.company_txt{font-size:16px;line-height:28px;color:#777; font-weight:400;margin-top:15px;}

.business_box{overflow:hidden;padding-bottom:60px}
.business_box li{float:left;width:32%;margin-right:2%;border:1px solid #e8e8e8;text-align:center;position:relative;padding:90px 40px 20px;min-height:360px;background:#fff;}
.business_box li:last-child{margin-right:0;}
.business_box li strong{padding:15px;color:#333;display:block;position:absolute;top:0;left:0;width:100%; font-size:15px;}
.business_box li strong span{display:block;font-size:20px;font-family:'Poppins', sans-serif;font-weight:500;}
.business_box li h3{font-size:18px;color:#333;font-weight:500;margin:20px 0;}
.business_box li p{text-align:left;padding:5px 0 5px 15px;position:relative;font-weight:300;}
.business_box li p:after{content:'';width:4px;height:4px;border-radius:50%;position:absolute;left:0;top:14px;background:#005db5;} 
.business_box li:nth-child(1) strong{background:#1aa1ce;color:#fff;}
.business_box li:nth-child(2) strong{background:#2d66be;color:#fff;}
.business_box li:nth-child(3) strong{background:#08347f;color:#fff;}

.company_info ul{display:flex;flex-wrap:wrap;align-items:center;margin:0 auto;border-top:2px solid #222;}
.company_info ul li{box-sizing:border-box;position:relative;margin-top:7px;width:50%;margin:0;line-height:58px;height:58px;padding:0;background:#fff;border-bottom:1px solid #dddddd;text-align:left;}
.company_info ul li strong{display:inline-block;width:160px;padding-left:30px;font-size:15px;margin-right:15px;background:#f9f9f9;height:57px;font-weight:500;}

.certificate_info{overflow:hidden;position:relative;}
.certificate_info:after{content:"";display:block;clear:both;visibility:hidden;}
.certificate_info .box_col:after{content:"";clear:both;display:block;visibility:hidden}
.certificate_info .box_col .col{display:inline-block;float:left;background:#fff;margin-bottom:20px;padding:0;border:1px solid #ddd;border-top:1px solid #222;width:10.1%;margin-left:1%;text-align:center;}
.certificate_info .box_col strong{display:block;font-size:14px;background:#f9f9f9;border-bottom:1px dashed #ddd;padding:10px 0; overflow:hidden; }
.certificate_info .box_col{margin-left:-1%;}
.certificate_info .box_col img{width:100%;}

/*  COMPANY ::CEO 인사말  */
.ceo_area{padding:20px 0;}
.ceo_area .ceo_title {position:relative;font-size:34px;letter-spacing:-1px;font-weight:600;line-height:48px;color:#000;}
.ceo_area .ceo_title strong{display:block;font-weight:300;line-height:48px;}
.ceo_area .ceo_img{display:inline-block;width:420px;vertical-align:top;}
.ceo_area .ceo_txt{display:inline-block;width:calc(100% - 440px);padding-left:0;vertical-align:top;}
.ceo_area .ceo_txt p{margin-top:30px;font-size:16px;line-height:28px;}
.ceo_area .ceo_txt p strong{display:block;color:#111;font-weight:500;}
.ceo_area .ceo_txt p strong span{color:#172d85;}

/*  COMPANY ::연혁  */
.history_area{position:relative;position:relative;}
.history_area ul{width:100%;height:auto;position:relative;}
.history_area .historytxt{margin-top:5px;font-size:16px;color:#666; }
.history_area .historytxt b{padding-left:10px;font-size:16px;color:#1a1a1a;font-weight:500; font-family:'Poppins', sans-serif; font-weight:600; }
.history_area li::after{content:"";display:block;width:1px;height:100%;position:absolute;right:0;top:15px;background-color:#c6cace;}
.history_area li:nth-child(odd)::after{left:0;right:auto;}
.history_area li:nth-child(odd) .historytxt b{padding-left:0;padding-right:10px;}
.history_area li:last-of-type::after{display:none;}
.history_area li{width:50%;margin-left:50%;text-align:left;padding:0 0 0 110px;box-sizing:border-box;position:relative;}
.history_area li:nth-child(even){margin-left:0%;padding:0 110px 0 0;text-align:right;}
.history_area li::before{content:"";display:block;width:105px;height:1px;background-color:#c6cace;position:absolute;left:0;top:15px;}
.history_area li .Year::after{content:"";width:10px;height:10px;background-color:#fff;border:4px solid #005db5;border-radius:50%;position:absolute;left:-9px;top:6px; z-index:1;}
.history_area li:nth-child(even)::before{right:0;left:auto;}
.history_area li:nth-child(even) .Year::after{right:-9px;left:auto;}
.history_area li .Year{font-size:40px;font-weight:600;font-family:'Poppins', sans-serif; line-height:30px;color:#000;margin-bottom:30px;letter-spacing:-1px;}
.history_area li:nth-child(even) .subTit6{text-align:right;}
.history_area li .subTit6{text-align:left;font-weight:normal;}
.history_longtxt{padding-left:50px;}
.history_longtxt2{padding-right:50px;}
.history-br{display:block;}

/*  COMPANY ::인재채용  */
.recruit_title{position:relative;display:block; }
.recruit_title h3{display:block;font-size:30px;letter-spacing:-1px;text-align:left;color:#000;font-weight:600; margin-bottom:10px;}
.recruit_title h3 span{font-weight:400;}
.recruit_title p{font-weight:400; font-size:18px}
.recruit_title p u{color:#172d85;}
.recruit_step{text-align:center;padding:0;}
.recruit_step ul{padding:0;}
.recruit_step > li{display:inline-block;vertical-align:middle;}
.recruit_step > li.recruit_step_line{margin:0 4px;}
.recruit_con{display:table;width:200px;height:200px;}
.recruit_con.step01{background:url(../images/content/recruit_step_bg01.png) no-repeat center center;background-size:100% 100%;}
.recruit_con.step02{background:url(../images/content/recruit_step_bg02.png) no-repeat center center;background-size:100% 100%;}
.recruit_con.step03{background:url(../images/content/recruit_step_bg03.png) no-repeat center center;background-size:100% 100%;}
.recruit_con.step04{background:#005db5;border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;-o-border-radius:100%;}
.recruit_con > div{display:table-cell;width:100%;vertical-align:middle;}
.recruit_con p{font-size:14px;color:#005db5;font-weight:500;}
.recruit_con i{color:#000;margin:8px 0 0;}
.recruit_con h3{font-size:22px;color:#222;font-weight:400;}
.recruit_con.step04 p, .recruit_con.step04 i, .recruit_con.step04 h3{color:#fff;}
.recruit_inquiry{overflow:hidden;border-radius:65px;-moz-border-radius:65px;-webkit-border-radius:65px;-o-border-radius:65px;}
.recruit_inquiry > li{float:left;width:50%;}
.recruit_inquiry_con{display:table;width:100%;background-color:#f4f4f4;}
.recruit_inquiry_con > dt, .recruit_inquiry_con > dd{display:table-cell;vertical-align:middle;}
.recruit_inquiry_con > dt{width:65px;}
.recruit_inquiry_con > dt strong{font-family:'Poppins', sans-serif; background-color:#fff;display:block;border:5px solid #005db5;font-size:13px;line-height:35px;color:#000;font-weight:600;text-align:center;border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;-o-border-radius:100%;padding:10px 0;}
.recruit_inquiry_con > dd{padding:0 30px;}
.recruit_inquiry_con > dd p{font-size:18px;line-height:36px;color:#333;font-family:'Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;}
.recruit_inquiry_con > dd p a{color:#333;}
.recruit_inquiry_con > dd p a:hover{text-decoration:underline; color:#01479d}

/*  SOLUTION ::상단내용  */
.solution_area{margin:35px 0 20px;}
.solution_top{overflow:hidden;min-height:400px;padding:50px 0 30px;}
.solution_bg1:before,.solution_bg2:before,.solution_bg3:before,.solution_bg5:before{padding-top:calc(400 / 700 * 50%);}
.solution_bg4:before{padding-top:calc(450 / 700 * 50%);}
.solution_bg1:before{background-image:url(../images/content/solution_b1.jpg);}
.solution_bg2:before{background-image:url(../images/content/solution_b2.jpg);}
.solution_bg3:before{background-image:url(../images/content/solution_b3.jpg);}
.solution_bg4:before{background-image:url(../images/content/solution_b4.jpg);}
.solution_bg5:before{background-image:url(../images/content/solution_b5.jpg);}
.solution_txt{position:relative;font-size:16px;box-sizing:border-box;}
.solution_txt:before{content:'';display:block;position:absolute;top:0;left:0;width:50%;height:0;background-size:cover !important;}
.solution_txt p{position:relative; margin-bottom:20px;padding-left:53%;font-size:16px;}
.solution_txt p:first-child{margin-bottom:40px;line-height:40px;color:#333;font-size:24px;font-weight:500;}
.solution_txt p strong {font-size:38px; font-weight:bold; font-family: 'Poppins', sans-serif; padding-top:5px; display: block;}
.solution_txt ul{position:relative; padding-left:53%;}
.solution_txt ul li{position:relative;margin-bottom:20px;line-height:25px;padding-left:35px;font-size:16px;}
.solution_txt ul li:after{content:'';background:url(../images/content/li_check.png);width:25px;height:25px;position:absolute;left:0;top:0;}

.leaflet {position:relative;  padding:5px 0;}
.leaflet_Down { display: inline-block; border: 1px solid #0462b7; height: 40px; padding: 0 55px 0 15px; color: #0462b7; font-weight: 500; line-height: 38px; text-align: left; background: url('../images/content/filedown_b.png') no-repeat right; font-size: 16px; }
.leaflet_View { display: inline-block; border: 1px solid #dd0011; height: 40px; padding: 0 55px 0 15px; color: #dd0011; font-weight: 500; line-height: 38px; text-align: left; background: url('../images/content/filedown_r.png') no-repeat right; font-size: 16px; }

/*  SOLUTION ::주요기능1  */
.solution_skill{border-top:2px solid #222;}
.solution_skill>li{position:relative;padding:10px 30px 30px 215px;box-sizing:border-box;min-height:160px;}
.solution_skill>li{background-image:url(../images/content/data_img11.png);background-repeat:no-repeat;background-position:left 60px top 30px;}
.solution_skill>li:last-child{border-bottom:1px solid #dbdee1;}
.solution_skill>li.list2{background-image:url(../images/content/data_img12.png);}
.solution_skill>li.list3{background-image:url(../images/content/data_img13.png);}
.solution_skill>li.list4{background-image:url(../images/content/data_img14.png);}
.solution_skill>li.list5{background-image:url(../images/content/data_img15.png);}
.solution_skill>li.list6{background-image:url(../images/content/data_img06.png);}
.solution_skill>li.list7{background-image:url(../images/content/data_img07.png);}
.solution_skill>li b{display:block;margin-bottom:15px;margin-top:20px;font-weight:500;font-size:18px;color:#1a1a1a;}
.solution_skill>li+li{border-top:1px solid #dbdee1;}

/*  SOLUTION ::장점  */
.solution_merit{overflow:hidden;position:relative;text-align:center;margin:30px 0} 
.solution_merit li{float:left; width:33.33%; text-align:center;padding:0 50px;}
.solution_merit li:nth-child(2){border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;} 
.solution_merit li:last-child{border-right:0 !important;}
.solution_merit li h3{font-size:22px;color:#333; font-weight:500;margin:20px 0 10px;} 
.solution_merit li p{display:block;font-weight:300; padding:5px 0;font-size:15px}
.solution_merit li h3 b {font-weight:bold;color:#014099; font-family:"Montserrat";}

/*  SOLUTION ::주요기능2  */
.solution_primary{border-top:1px solid #222;}
.solution_primary li{position:relative;padding:30px 40px 30px 100px;box-sizing:border-box;border:1px solid #dbdee1;border-top:none; font-size:15px;min-height:85px;}
.solution_primary li i{position:absolute;top:20px;left:30px;}
.solution_primary li i{display:inline-block;vertical-align:middle;width:40px;height:46px;line-height:46px;text-align:center;font-weight:600;margin:0 20px 0 0;font-style:normal;font-family:"Montserrat";font-size:16px;}
.nbg{background:url(../images/content/n_bg.png) no-repeat;background-position:center;color:#fff;}
.nbg1{background:url(../images/content/n_bg1.png) no-repeat;background-position:center;color:#fff;}
.nbg2{background:url(../images/content/n_bg2.png) no-repeat;background-position:center;color:#fff;}
.nbg3{background:url(../images/content/n_bg3.png) no-repeat;background-position:center;color:#fff;}
.nbg4{background:url(../images/content/n_bg4.png) no-repeat;background-position:center;color:#fff;}
.nbg5{background:url(../images/content/n_bg5.png) no-repeat;background-position:center;color:#fff;}

.list_dotGray{overflow:hidden;}
.list_dotGray>li{display:block;position:relative;padding-left:10px;}
.list_dotGray>li+li{margin-top:5px;}
.list_dotGray>li::before{content:'';display:block;position:absolute;left:0;top:11px;overflow:hidden;width:3px;height:3px;border-radius:50%;background:#666;}

/*  SOLUTION :: Virtual Pipe 개요  */
.pipe_info { padding:60px 40px 40px; background:#f9f9f9; border:1px solid #e8e8e8; margin: 10px 0 40px}
.pipe_top { border: 2px solid #0054a7; position: relative; padding: 28px 0px 15px; text-align: center; margin-bottom:20px; background:#fff;}
.pipe_top > .pipeTitle {  position: absolute; left: 50%; top: -20px; width: 300px; margin-left:-150px; height: 40px; border-radius:40px; padding-top: 5px; font-size: 18px; line-height:30px; background:#0054a7; 
display: block; color: #FFF; font-weight: 500; }
.pipe_top b { font-size: 18px; }
.pipe_top span { font-size: 20px; letter-spacing: -3px; color: #0054a7;  }
.pipe_box{overflow:hidden; }
.pipe_box li{float:left;width:32%;margin-right:2%;border:1px solid #e8e8e8;text-align:center;position:relative;padding:70px 40px 20px;background:#fff;}
.pipe_box li:last-child{margin-right:0;}
.pipe_box li strong{padding:10px;color:#333;display:block;position:absolute;top:0;left:0;width:100%; font-size:20px;}
.pipe_box li strong span{display:block;font-size:20px;font-weight:500;}
.pipe_box li p{text-align:left;padding:5px 0 5px 15px;position:relative;font-weight:300;}
.pipe_box li p:after{content:'';width:4px;height:4px;border-radius:50%;position:absolute;left:0;top:14px;background:#005db5;} 
.pipe_box li:nth-child(1) strong{background:#1aa1ce;color:#fff;}
.pipe_box li:nth-child(2) strong{background:#2d66be;color:#fff;}
.pipe_box li:nth-child(3) strong{background:#008860;color:#fff;}
.pipe_box:after{content:'';display:block;clear:both;}   
.pipe_merit{overflow:hidden;position:relative;margin: 0 0 40px} 
.pipe_merit li{float:left; width:50%; padding:20px; border:1px solid #e8e8e8; }
.pipe_merit li h3{font-size:20px;color:#333; font-weight:500;margin:0;} 
.pipe_merit li p{display:block; padding:5px 0 0 25px;font-size:15px}
.pipe_merit li h3 b {font-weight:bold;color:#014099; font-family:"Montserrat";}
.pipe_merit:after{content:'';display:block;clear:both;}   
.pipe_model{overflow:hidden; margin:0;}
.pipe_model li{float:left;width:70%; margin-right:2%;border:1px solid #e8e8e8;text-align:center;position:relative;padding:80px 20px 20px; min-height:740px}
.pipe_model li:last-child{margin-right:0; background:#f9f9f9; padding:20px 40px 20px; width:28%;}
.pipe_model li .tit1_1{padding:10px;display:block;position:absolute;top:30px;left:40px;width:240px; font-size:18px;font-weight:500; background:#1aa1ce;color:#fff;  border-radius:50px;}
.pipe_model li .tit1_2{padding:10px;display:block;position:absolute;top:30px;left:50%;width:240px; font-size:18px;font-weight:500; background:#0044a0;color:#fff; border-radius:50px;}
.pipe_model li .pipeimg { text-align:center; display:block;width:100%;max-width:1000px;height:auto;margin:0 auto;}


.pipe_model:after{content:'';display:block;clear:both;}   
.pipe_model li .left_txt { float:left; width:48%; background:#f9f9f9; padding:10px 20px; border:1px solid #e8e8e8; text-align:left; min-height:100px;}
.pipe_model li .right_txt { float:right; width:48%;  background:#f9f9f9; padding:10px 20px; border:1px solid #e8e8e8; text-align:left; min-height:100px;}
.pipe_model li .tit2{padding:10px;display:block; width:260px; font-size:18px;font-weight:500; background:#008860;color:#fff; border-radius:50px; margin:10px 0 20px;}
.pipe_model li .tit3{padding:10px;display:block; width:260px; font-size:18px;font-weight:500; background:#4840bb;color:#fff; border-radius:50px; margin:100px 0 20px;}

/*  BUSINESS ::사업실적  */
/* table 기본정보 */
.table{display:table;table-layout:fixed;min-width:100%;width:100%;margin:0;border-bottom:1px solid #e0e0e0;border-collapse:collapse;border-spacing:0;word-break:break-all;}
.table > * > tr > *{padding:7px;color:#555 ;text-align:center;}
.table > * > tr > *{border:1px solid #e0e0e0;border-bottom-width:0;}
.table > * > tr > *[scope]{color:#333;font-size:15px;font-weight:500;text-align:center;background:#f9fafb;}
.table > * > tr > *:first-child{border-left-width:0;}
.table > * > tr > *:last-child{border-right-width:0;}
.table thead{border-bottom:1px solid #aaa;}

/* table 세로 라인 삭제부분 */
.table.line_no > * > tr > *{border-right-width:0;border-left-width:0;}
.table.left > * > tr > *{text-align:left;}
.table.right > * > tr > td{text-align:right;}
.table > * > tr > * li,.table > * > tr > * p{font-size:14px;}
.table > * > tr > .line_no_right{border-right-width:0 !important;}
.table > * > tr > .line_no_left{border-left-width:0 !important;}	
.table > * > tr > td a:hover{text-decoration:underline;color:#06378e;}

/* 게시판 list */
.bd_tbl > * > tr > td.bg1{font-size:12px;padding:5px 0;background:#f9fafb;}
.bd_tbl{border-top:2px solid #222;}
.bd_tbl > * > tr > *{padding:20px 10px;font-size:15px;}

/* 게시판 간격 */
.bd_num,.bd_hit,.bd_recruit2,.bd_recruit4{width:8%;}
.bd_work_day{width:18%;}
.bd_work_order{width:15%;}
.bd_recruit1{width:15%;}

/*  BUSINESS ::협력사  */
.partner_area{overflow:hidden;position:relative;padding:60px 0 20px;}
.partner_area:after{content:"";display:block;clear:both;visibility:hidden;}
.partner_area .box_col:after{content:"";clear:both;display:block;visibility:hidden;}
.partner_area .box_col li a{display:inline-block;float:left;border:1px solid #ddd;margin-bottom:40px;padding:20px 0;text-align:center;background:#fff;}
.partner_area .box_col li a img{-webkit-filter :grayscale(0%);}
.partner_area .box_col li a:hover img{-webkit-filter :grayscale(100%); opacity:70%;}
.partner_area .box_col li a:hover{border:solid 1px #000;}
.partner_area .box_col.col5 li a{width:18%;margin-left:2%;}
.partner_area .box_col.col4 li a{width:23%;margin-left:2%;}
.partner_area .box_col.col3 li a{width:31.3%;margin-left:2%;}
.partner_area .box_col.col2 li a{width:48%;margin-left:2%;}
.partner_area .box_col.col5{margin-left:-2%;}
.partner_area .box_col.col4{margin-left:-2%;}
.partner_area .box_col.col3{margin-left:-2%;}
.partner_area .box_col.col2{margin-left:-2%;}
.partner_area{transition-timing-function:ease-in;-webkit-animation:ani_effect 1s;animation:ani_effect 1s;animation-fill-mode:forwards;animation-delay:0.5s;}

/*  CONTACT ::고객문의  */
.contact_title{font-size:20px;color:#5c5c5c;font-weight:300;text-align:center;padding:60px 0;border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; line-height:40px;}
.contact_title > strong{display:block;font-size:26px;color:#333;font-weight:500;}
.contact_title > strong span{color:#273baa;}
.contact_title br{display:none;}
.contact_list_area{padding:60px 0 0;margin:0 auto;}
.contact_list_area > li{float:left;width:48.75%;margin:0 0.625%;margin-bottom:30px;}
.contact_list{border:1px solid #ddd;}
.contact_box{display:table;width:100%;}
.contact_box > dt, .contact_box > dd{display:table-cell;vertical-align:middle;height:240px;}
.contact_box > dt{width:38.07%;background-color:#fff;text-align:center;}
.contact_box > dt img{max-width:100%;}
.contact_box > dd{background-color:#f9f9f9;}
.contact_cont{padding-left:50px;word-break:keep-all;}
.contact_cont > h3{font-size:32px;color:#111;font-weight:400;letter-spacing:-2px;margin-bottom:30px;}
.contact_cont > h3 b{font-weight:500;}
.contact_cont > p{display:table;width:100%;}
.contact_cont > p em, .contact_cont > p span{display:table-cell;vertical-align:top;line-height:38px;}
.contact_cont > p em{width:33px;color:#172d84;}
.contact_cont > p em i{display:inline-block;width:38px;height:38px;font-size:0;text-indent:-9999px;border-radius:50%;background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;margin-right:15px;}
.contact_cont > p a:hover{text-decoration:underline; color:#01479d}

/*  CONTACT ::오시는길  */
.map_area{position:relative;padding-top:calc(500 / 1400 * 100%);}
.map_area iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.map_info{margin-bottom:60px;padding:35px 70px 32px;background:#fff;border:1px solid #e5e5e5;border-top:none;}
.map_info h4,.map_info ul,.map_info li{display:inline-block;color:#1a1a1a;}
.map_info h4{position:relative;min-width:230px;margin-bottom:3px;line-height:38px;font-size:24px;font-weight:500;text-align:left;}
.map_info h4.map_tit:before{content:'';display:inline-block;position:absolute;top:50%;right:25px;width:55px;height:1px;background:#000;}
.map_info li{position:relative;margin-bottom:3px;padding:9px 50px;line-height:22px;font-size:18px;font-weight:400;}
.map_info li span{display:inline-block;position:absolute;top:0;left:0;width:38px;height:38px;font-size:0;text-indent:-9999px;border-radius:50%;background-color:#f2f5f8;background-repeat:no-repeat;background-position:50% 50%;}
.ic_add{background-image:url(../images/content/ic_add.png);}
.ic_tel{background-image:url(../images/content/ic_tel.png);}
.ic_fax{background-image:url(../images/content/ic_fax.png);}
.ic_mail{background-image:url(../images/content/ic_mail.png);}

/** 1400px 시작 **/
@media all and (max-width:1400px) {	
	
	/*  PAGE :기본  */
	.page_area > div{width:96%;margin:0 auto;}

}
/** 1400px 끝 **/

/** 1200px 시작 **/
@media all and (max-width:1200px) {	

	/*  COMPANY ::회사소개  */
	.company_title > dd img{height:200px;}	
	.company_info ul li{width:100%;}
	.business_box li{padding:100px 20px 20px;}
	.business_box li h3{font-size:15px;}
	.certificate_info .box_col .col{width:19%;}
	.certificate_info .box_col strong{font-size:13px;padding:10px;}

	.history_longtxt{padding-left:0px;}
	.history-br{display:none;}

	.solution_top{min-height:auto;padding:30px 0 20px;}
	.solution_merit li br{display:none;}
	.solution_txt p:first-child{margin-bottom:30px;line-height:30px;font-size:20px;}
	.solution_txt p strong {font-size:28px; }

	.contact_cont{padding-left:30px;}

	.pipe_merit{margin: 0 0 20px} 
	.pipe_merit li{float:left; width:100%; padding:15px;}

	.pipe_model li{float:left;width:100%; margin-right:0; padding:80px 20px 20px; min-height:auto;}
	.pipe_model li:last-child{margin-right:0; padding:20px 40px 20px; width:100%; margin-top:20px;}
	.pipe_model li .tit3{margin:10px 0 20px;}

}
/** 1200px 끝 **/


/** 780px 시작 **/
@media all and (max-width:780px) {	
	
	/* SUB CONTENTS */
	.content{margin:30px auto;}
	
	/*  PAGE :기본  */
	.page_area{margin:0;}
	.page_area > div{width:92%;margin:0 auto;}

	/* 타이틀 */
	.page_title{display:block;position:relative;padding:10px 0;font-size:30px;margin:60px 0 20px;}	
	.page_title img{height:34px;}
	.titleH4{font-size:24px;}
	.titleH4 span{display:none;}
		
	/*  COMPANY ::회사소개  */
	.company_area{padding:30px 0;}
	.company_title{display:block;}
	.company_title > dt, .company_title > dd{display:block;width:auto;}
	.company_title > dt{margin-bottom:15px;padding-right:0px;}
	.company_title > dd img{display:block;width:100%;height:auto;}
	.company_title > dt strong{display:none;}
	.company_title > dt h3{font-size:20px;margin-bottom:10px;}
	.company_title > dt p{font-size:18px;line-height:28px;}
	.company_title > dt p.company_txt{font-size:15px;line-height:20px;color:#777;}
	
	.business_box{padding-bottom:30px;}
	.business_box li strong{padding:10px;font-size:16px;}
	.business_box li{width:100%;margin:0 0 10px;padding:70px 20px 20px;min-height:auto;}
	.business_box li h3{text-align:left;}
	.business_box li h3 br{display:none;}
	
	.company_info ul li strong{width:120px;padding-left:20px;}
	.certificate_info .box_col .col{width:31.33%;margin-left:2%;}
	.certificate_info .box_col strong{font-size:13px;}
	.certificate_info .box_col{margin-left:-2%;}

	/*  COMPANY ::CEO 인사말  */
	.ceo_area {padding:0;}
	.ceo_area .ceo_img{width:100%;}
	.ceo_area .ceo_img img{width:180px;}
    .ceo_area .ceo_txt{width:100%;padding-left:0px;margin-top:20px;}
    .ceo_area .ceo_title{font-size:23px;line-height:28px;}
    .ceo_area .ceo_txt p{margin-top:20px;font-size:15px;line-height:25px;}
	.ceo_cont img{height:40px}

	/*  COMPANY ::연혁  */
	.history_area{margin-bottom:-50px;padding-bottom:30px;}
	.history_area li{margin-left:0%;width:100% !important;padding:0 0 0 20px !important;text-align:left !important;margin-bottom:20px;}
	.history_area li::before{display:none;}
	.history_area li::after{left:0 !important;height:calc(100% + 20px);top:11px;}
	.history_area li .Year{font-size:24px;margin-bottom:10px;}
	.history_area li .Year::after{left:-7px !important;top:7px;width:7px;height:7px;}
	.history_area .historytxt{position:relative;font-size:14px;}
	.history_area .historytxt b{font-size:14px;}
	.history_area li:nth-child(even) .historytxt{padding-left:45px;}
	.history_area li:nth-child(even) .historytxt  b{position:absolute;left:0;top:0;padding-left:0;}
	.history_area .historytxt b{display:block !important;}
	.history_area  li:nth-child(even) .historytxt{padding-left:0;padding-top:24px;}
	.history_longtxt2{padding-right:0;}

	/*  COMPANY ::인재채용  */
	.recruit_title h3{font-size:22px;line-height:34px;text-align:left; margin:0}
	.recruit_title p{font-size:14px; padding-top:10px;}
	.recruit_step > li{margin-bottom:20px;}
	.recruit_step > li.recruit_step_line img{max-width:35px;}
	.recruit_con{width:145px;height:145px;}
	.recruit_con p{font-size:13px;}
	.recruit_con h3{font-size:16px;}
	.recruit_inquiry{border-radius:0;}
	.recruit_inquiry > li{float:none;width:auto;margin-bottom:10px;}
	.recruit_inquiry_con{border-radius:51px;}
	.recruit_inquiry_con > dt{width:51px;}
	.recruit_inquiry_con > dt strong{font-size:12px;line-height:25px;border-width:3px;}
	.recruit_inquiry_con > dd{padding:0 15px;}
	.recruit_inquiry_con > dd p{font-size:14.5px;line-height:25px;}

	/*  SOLUTION ::상단내용  */
	.solution_bg1:before, .solution_bg2:before, .solution_bg3:before, .solution_bg4:before, .solution_bg5:before{display:none;}
	.solution_top{overflow:hidden;min-height:auto;padding:20px 0 10px;}
	.solution_txt{font-size:14px;}
	.solution_txt p{margin-bottom:20px;padding-left:1%;font-size:14px;}
	.solution_txt p:first-child{font-size:16px;line-height:26px;margin-bottom:10px;}
	.solution_txt ul{padding-left:1%;}
	.solution_txt ul li{margin-bottom:15px;line-height:20px;padding-left:30px;font-size:14px;}
	.solution_txt ul li:after{width:20px;height:20px;background-size:100%;}
	
	/*  SOLUTION ::기능  */
	.solution_skill>li b{font-size:16px;}
	.solution_skill>li{padding:120px 0 20px 0;background-position:left 0 top 20px;}

	/*  SOLUTION ::장점  */
	.solution_merit{border-top:1px solid #333; max-width:500px; margin:0 auto;}
	.solution_merit li{border:0; border-bottom:1px solid #e8e8e8 !important; padding:40px 20px;}
	.solution_merit li:first-child:nth-last-child(1), 
	.solution_merit li:first-child:nth-last-child(1)~li,
	.solution_merit li:first-child:nth-last-child(2), 
	.solution_merit li:first-child:nth-last-child(2)~li,
	.solution_merit li:first-child:nth-last-child(3), 
	.solution_merit li:first-child:nth-last-child(3)~li,
	.solution_merit li:first-child:nth-last-child(4), 
	.solution_merit li:first-child:nth-last-child(4)~li{width:100%; margin:0; border:0;}
	.solution_merit li img {max-height: 80px;}
	.solution_merit li h3{font-size:18px; margin:20px 0 10px}
	.solution_merit li{padding: 30px 20px 20px;}

	/*  SOLUTION ::주요기능  */
	.solution_primary li{width:100%;border-left:1px solid #dbdee1;padding:20px 20px 20px 80px;font-size:14px;}
	.solution_primary li i{position:absolute;top:20px;left:20px;}

	/*  SOLUTION :: Virtual Pipe 개요  */
	.pipe_info { padding:40px 20px 20px; margin: 10px 0 40px}
	.pipe_top > .pipeTitle {  width: 200px; margin-left:-100px;font-size: 18px; }
	.pipe_top b { font-size: 15px; }
	.pipe_top span { font-size: 16px;}	
	.pipe_box li{padding:50px 20px 20px;background:#fff;}
	.pipe_box li strong{padding:10px; font-size:15px;}
	.pipe_box li strong span{font-size:15px;}
	.pipe_box li p{padding:5px 0 5px 15px;}
	.pipe_merit li p{padding:5px 0 0 5px;}
	.pipe_model li{padding:80px 20px 20px;}
	.pipe_model li:last-child{ padding:10px 20px 20px;}
	.pipe_model li .tit1_1{padding:8px;width:140px; font-size:16px; top:20px; left:10px;}
	.pipe_model li .tit1_2{padding:8px;width:160px; font-size:16px; top:20px;}
	.pipe_model li .left_txt { width:100%; min-height:auto; padding:10px;}
	.pipe_model li .right_txt { width:100%; min-height:auto; margin-top:10px; padding:10px;}
	.pipe_model li .tit2{padding:8px; width:240px; font-size:16px; }
	.pipe_model li .tit3{padding:8px; width:240px; font-size:16px; }	
	.imgpipe {width:100%}

	/*  BUSINESS ::사업실적  */
	/* table 기본정보 */
	.table.bd_tbl_ul{display:block;box-sizing:border-box;}
	.table.bd_tbl_ul tbody{display:block;box-sizing:border-box;}
	.table.bd_tbl_ul tr{display:block;box-sizing:border-box;}
	.table.bd_tbl_ul td{display:block;box-sizing:border-box;}
	.table.bd_tbl_ul thead tr{display:none;}
	.table.bd_tbl_ul tbody,.table.bd_tbl_ul tr{width:100%;}
	.table.bd_tbl_ul tr{position:relative;padding:0;border-top:1px solid #333333;}
	.table.bd_tbl_ul tr:first-child,.table.bd_tbl_ul tr td:first-child{border-top-width:0;}	
	.table.bd_tbl_ul td{clear:both;position:relative;padding:8px 20px 8px 70px;text-align:left;border-width:0;border-top:1px dotted #b8b8b8; font-size:13px}	
	.table.bd_tbl_ul td:before{content:'';display:block;position:absolute;left:12px;width:40px;color:#313131;text-align:center;}
	.table.bd_tbl_ul tbody > tr > td{min-height:40px;height:auto;}
	.table.bd_tbl_ul tbody > tr > td a{vertical-align:top;}
	.table.bd_tbl_ul .btn_st.bg_gray{background:#325baf;}
	.table.bd_tbl_ul tr.no{border-top:1px solid #fff;}

	/* 모바일 게시판 타이틀 정의 */	
	.bd_tbl.bd_tbl_ul td{padding-left:100px;}
	.bd_tbl.bd_tbl_ul [class*='bd_']:before{left:6px !important;width:80px !important;font-size:13px;border-radius:3px;background:#f0eeee;}
	.bd_num,.bd_title,.bd_date,.bd_hit,.bd_writer,.bd_work_name,.bd_work_field,.bd_work_day,.bd_work_order,.bd_recruit1,.bd_recruit2,.bd_recruit3,.bd_recruit4{width:100%;}
	.bd_tbl.bd_tbl_ul .bd_num:before{content:'번호'}
	.bd_tbl.bd_tbl_ul .bd_title:before{content:'제목'}
	.bd_tbl.bd_tbl_ul .bd_date:before{content:'등록일'}
	.bd_tbl.bd_tbl_ul .bd_hit:before{content:'조회수'}
	.bd_tbl.bd_tbl_ul .bd_writer:before{content:'등록자'}
	.bd_tbl.bd_tbl_ul .bd_work_name:before{content:'사업명'}
	.bd_tbl.bd_tbl_ul .bd_work_field:before{content:'사업분야'}
	.bd_tbl.bd_tbl_ul .bd_work_day:before{content:'사업기간'}
	.bd_tbl.bd_tbl_ul .bd_work_order:before{content:'발주처'}
	.bd_tbl.bd_tbl_ul .bd_recruit1:before{content:'모집부문'}
	.bd_tbl.bd_tbl_ul .bd_recruit2:before{content:'구분'}
	.bd_tbl.bd_tbl_ul .bd_recruit3:before{content:'자격요건'}
	.bd_tbl.bd_tbl_ul .bd_recruit4:before{content:'모집인원'}
	.bd_recruit4{border-bottom:none;}

	/*  BUSINESS ::협력사  */
	.partner_area{padding:40px 0 20px;}
	.partner_area .box_col li a,.partner_area .box_col.col5 li a,.partner_area .box_col.col4 li a,.partner_area .box_col.col3 li a{width:48%;margin-bottom:20px;padding:10px 0;}

	/*  CONTACT ::고객문의  */
	.contact_title{font-size:14px;padding:30px 0; line-height:30px;}
	.contact_title > strong{font-size:20px;}
	.contact_title br{display:block;}
	.contact_list_area{padding:30px 0;margin:0px;}
	.contact_list_area > li{float:none;width:auto;margin:0px auto;margin-bottom:15px;}
	
	.contact_box{display:table;width:100%;}
	.contact_box > dt{width:30%;}
	.contact_box > dt img{max-width:70px;}
	.contact_box > dd{padding:20px 0 10px;}
	.contact_cont{padding-left:20px;}
	.contact_cont > strong{font-size:11px;line-height:18px;padding:0 5px;margin-bottom:5px;}
	.contact_cont > h3{font-size:20px;margin-bottom:15px;}
	.contact_cont > p span{line-height:24px;padding-top:5px; font-size:13px}
	.contact_box > dt, .contact_box > dd{height:auto;}
	
	/*  CONTACT ::오시는길  */
	.map_info{padding:10px 20px;}
	.map_info h4{line-height:50px;font-size:20px;min-width:200px;}
	.map_info li{line-height:22px;font-size:14px;padding:9px 20px 9px 50px;}

}
/** 780px 끝 **/


/** 480px 시작 **/
@media all and (max-width:480px) {
	
	.certificate_info .box_col .col{width:46%;margin-left:4%;}
	.certificate_info .box_col{margin-left:-4%;}

	.recruit_step > li{float:left;width:50%;}
	.recruit_step > li.recruit_step_line{display:none;}	

	.company_info ul li{line-height:40px;height:auto;padding:0;background:#fff;}
	.company_info ul li strong{display:block;width:100%;padding-left:10px;height:auto}
	.company_info ul li span{padding:0 10px;line-height:30px;font-size:13px}

	.pipe_merit li h3{font-size:16px;margin:0;} 
	.pipe_box li{float:left;width:100%;margin-right:0; padding:50px 20px 10px;}
	.pipe_box li:last-child{margin-right:0;}

}
/** 480px 끝 **/


/** 380px 시작 **/
@media all and (max-width:380px) {

	.contact_box > dt{display:none}
	.contact_cont{padding-left:20px;}
	.partner_area img{width:90%; margin:0 auto;}	
	
}
/** 380px 끝 **/

