
/* Noto Sans */
@font-face { 
	font-family: 'Noto Sans'; 
	font-weight: 200; 
	font-style: normal; 
	src: url("../font/NotoSans/NotoSansKR-Light.eot"); 
	src: local(『), url("../font/NotoSans/NotoSansKR-Light.eot#iefix") format("embedded-opentype"), url("../font/NotoSans/NotoSansKR-Light.woff") format("woff"), url("../font/NotoSans/NotoSansKR-Light.otf") format("opentype"); 
}

@font-face { 
	font-family: 'Noto Sans'; 
	font-weight: 300; 
	font-style: normal; 
	src: url("../font/NotoSans/NotoSansKR-DemiLight.eot"); 
	src: local(『), url("../font/NotoSans/NotoSansKR-DemiLight.eot#iefix") format("embedded-opentype"), url("../font/NotoSans/NotoSansKR-DemiLight.woff") format("woff"), url("../font/NotoSans/NotoSansKR-DemiLight.otf") format("opentype"); 
}

@font-face { font-family: 'Noto Sans'; 
	font-weight: 400; 
	font-style: normal; 
	src: url("../font/NotoSans/NotoSansKR-Regular.eot"); 
	src: local(『), url("../font/NotoSans/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"), url("../font/NotoSans/NotoSansKR-Regular.woff") format("woff"), url("../font/NotoSans/NotoSansKR-Regular.otf") format("opentype"); 
}

@font-face { 
	font-family: 'Noto Sans'; 
	font-weight: 500; 
	font-style: normal; 
	src: url("../font/NotoSans/NotoSansKR-Medium.eot"); 
	src: local(『), url("../font/NotoSans/NotoSansKR-Medium.eot#iefix") format("embedded-opentype"), url("../font/NotoSans/NotoSansKR-Medium.woff") format("woff"), url("../font/NotoSans/NotoSansKR-Medium.otf") format("opentype"); 
}

@font-face { 
	font-family: 'Noto Sans'; 
	font-weight: 700; 
	font-style: normal; 
	src: url("../font/NotoSans/NotoSansKR-Bold.eot"); 
	src: local(『), url("../font/NotoSans/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"), url("../font/NotoSans/NotoSansKR-Bold.woff") format("woff"), url("../font/NotoSans/NotoSansKR-Bold.otf") format("opentype"); 
}

/* Poppins */
@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	font-style: normal;
	src: url('../font/poppins/Poppins-Regular.eot');
	src: url('../font/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/poppins/Poppins-Regular.woff2') format('woff2'),
		 url('../font/poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('../font/poppins/Poppins-Medium.eot');
	src: url('../font/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/poppins/Poppins-Medium.woff2') format('woff2'),
		 url('../font/poppins/Poppins-Medium.woff') format('woff'),
		 url('../font/poppins/Poppins-Medium.ttf') format("truetype");
}

@font-face {
	font-family: 'Poppins';  
	font-weight: 600;
	font-style: normal;
	src: url('../font/poppins/Poppins-SemiBold.eot');
	src: url('../font/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../font/poppins/Poppins-SemiBold.woff2') format('woff2'),
		 url('../font/poppins/Poppins-SemiBold.woff') format('woff'),
		 url('../font/poppins/Poppins-SemiBold.ttf') format("truetype");
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	src: url('../font/poppins/Poppins-Bold.eot');
	src: url('../font/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/poppins/Poppins-Bold.woff2') format('woff2'),
		 url('../font/poppins/Poppins-Bold.woff') format('woff'),
		 url('../font/poppins/Poppins-Bold.ttf') format("truetype");
}


/* Montserrat */
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url(../font/montserrat/MontserratAlternates-Bold.woff2) format('woff2'),
		 url(../font/montserrat/MontserratAlternates-Bold.woff) format('woff'),
		 url(../font/montserrat/MontserratAlternates-Bold.otf) format('opentype');
}

/* GmarketSans */
@font-face {
    font-family: 'GmarketSans';
	font-weight: 300;
	font-style: normal;
    src: url('../font/GmarketSans/GmarketSansLight.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSans';
	font-weight: 400;
	font-style: normal;
    src: url('../font/GmarketSans/GmarketSansMedium.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSans';
	font-weight: 700;
	font-style: normal;
    src: url('../font/GmarketSans/GmarketSansBold.woff') format('woff');
}


/* ONE Mobile Title */

@font-face {
	font-family: 'OnemobileG';
	font-weight: 400;
	font-style: normal;
	src:
	url('../font/OneMobile/ONEMR.eot') format('eot'),
	url('../font/OneMobile/ONEMR.eot?#iefix') format('embedded-opentype'),
	url('../font/OneMobile/ONEMR.woff') format('woff'),
	url('../font/OneMobile/ONEMR.woff2') format('woff2'),
	url('../font/OneMobile/ONEMR.ttf') format('truetype');
}


@font-face {
	font-family: 'OnemobileT';
	font-weight: 700;
	font-style: normal;
	src:
	url('../font/OneMobile/ONEMT.woff2') format('woff2'), 
	url('../font/OneMobile/ONEMT.woff') format('woff');
}
